{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}Cuenta Inactiva{% endblock %}
{% block form_title %}Cuenta Inactiva{% endblock form_title %}

{% block content %}
<br>
<br>
<br>
<div class="col-sm-8 col-sm-offset-2">
	<h4>Esta cuenta está inactiva</h4>
</div>
{% endblock %}
