{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load account %}

{% block head_title %}Confirmar e-mail{% endblock %}
{% block form_title %}Confirmar e-mail{% endblock form_title %}


{% block content %}

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<br><br>
<div class="col-sm-8 col-sm-offset-2">
	{% with confirmation.email_address.email as email %}
	    <p style="font-size: 130%;">Por favor confirma que <a href="mailto":{{email}}>{{email}}</a> es una cuenta de correo del usuario {{user_display}}</p>
	{% endwith %}
</div>
<br><br>
<div class="col-sm-12" style="text-align: center;">
	<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
	{% csrf_token %}
	    <button type="submit" class="btn btn-success">Confirmar</button>
	</form>
</div>
{% else %}

{% url 'account_email' as email_url %}

<p style="font-size: 130%;">Este link de confirmación ha expirado o es inválido. Por favor <a href="{{email_url}}">solicita una nueva petición de confirmación de e-mail</a></p>

{% endif %}

{% endblock %}
