{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}Confirmar E-mail{% endblock %}
{% block form_title %}Confirmar E-mail{% endblock form_title %}


{% block content %}
<br><br>

{% user_display email_address.user as user_display %}

<div class="col-sm-8 col-sm-offset-2">
	<p>{% with email_address.email as email %}
	    Has confirmado que <a href="mailto:{{email}}">{{email}}</a> es un email del usuario {{user_display}}
	{% endwith %}</p>
	<br>
	<br>
	<button onclick="location.href='/'" class="btn btn-success">
		Regresar al Directorio
	</button>
</div>        

{% endblock %}
