{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% load widget_tweaks %}

{% block head_title %}Ingresar{% endblock %}

{% block form_title %}Ingresa a tu cuenta{% endblock form_title %}

{% block content %}
<br>
<p><strong>Ingresa con uno de las siguientes cuentas</strong></p>
<div class="col-sm-6 col-sm-offset-3">

  {% include "socialaccount/snippets/provider_list.html" with process="login" %}

  <br>
   <!-- Form errors -->
  {% if form.errors %}    
  <br> 
   <span class="label label-primary label-stroke">
      {{form.non_field_errors}}  
   </span>
   <br>  
  {% else %}
  <br><br>
     <div class="login-or">
        <strong>O ingresa a tu cuenta registrada en clicknbees.com</strong>
      </div> 
  {% endif %}     
</div>

{% include "socialaccount/snippets/login_extra.html" %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}   
  <div class="panel panel-default col-sm-6 col-sm-offset-3" style="margin-top: 0.5em;">
    <div class="panel-body">
    <div class="form-group" style="text-align: left;">
      {{form.login.label}} 
      {% render_field form.login class="form-control" required="true" %}
    </div>

    <div class="form-group" style="text-align: left;">
      {{form.password.label}} 
      {% render_field form.password class="form-control" required="true" %} 
    </div>

    <button class="btn btn-success btn-block primaryAction" type="submit">Ingresar</button>
    <br>
    {{form.remember.label}} 
    {{form.remember}}
  </div>
  <br>  
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">
    ¿Olvidaste tu contraseña?
  </a>       

  </div> 
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}   
</form>
  </div>
</div>

{% endblock %}
