{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}Salir{% endblock %}
{% block form_title %}Salir de tu cuenta{% endblock form_title %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3" style="margin-top: 5ex;">	

	<h3>Confirma para salir de tu sesión</h3>
	<br><br>

	<form method="post" action="{% url 'account_logout' %}">
	  {% csrf_token %}
	  {% if redirect_field_value %}
	  <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
	  {% endif %}
	  <button class="btn btn-success btn-stroke primaryAction" type="submit" style="height: 2em;">Salir</button>
    <br>
	</form>		
</div>
{% endblock %}
