{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load widget_tweaks %}


{% block head_title %}Cambiar contraseña{% endblock %}
{% block form_title %}{% if token_fail %}Link erróneo{% else %}Cambiar Contraseña{% endif %}{% endblock form_title %}

{% block content %}  
    {% if form.errors %}
          <span class="label label-primary label-stroke">
            {{form.errors}}  
         </span>
         <br>  
     {% endif %} 

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <br>
        <br>
        <br>
        <div class="col-sm-8 col-sm-offset-2">
            <h4 style="font-weight: normal;">El link para cambiar la contraseña es inválido, posiblemente porque ya ha sido usado. Por favor solicita un  <a href="{{passwd_reset_url}}">nuevo link para cambiar tu contraseña</a></h4>
        </div>
    {% else %}
        {% if form %}
            <form method="POST" action=".">
                {% csrf_token %}     
                <div class="col-sm-6 col-sm-offset-3" style="margin-top: 4em;">
                    <div class="widget">
                    <div class="widget-head">
                        <h4 class="heading">Escribe tu nueva contraseña</h4>
                    </div>
                    <div class="widget-body">
                        <div class="input-group" style="text-align: left; font-size: 80%;">
                            <strong>{{form.password1.label}}</strong>
                            {% render_field form.password1 class="form-control col-md-12" required="true" %}                          
                        </div>
                        <div class="input-group" style="text-align: left; margin-top: 2em; font-size: 80%;">
                            <strong>{{form.password2.label}}</strong>
                            {% render_field form.password2 class="form-control col-md-12" required="true" %}
                            <br>   
                        </div>
                        <button class="btn btn-success" type="submit" name="action" style="margin-top: 1em;">Cambiar contraseña</button>
                    </div>
                </div>    
                </div>
            </form>
        {% else %}
           <div class="alert alert-success">
               Tu contraseña ha sido cambiada!
           </div>
        {% endif %}
    {% endif %}
{% endblock %}
