{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}Recuperar Contraseña{% endblock %}
{% block form_title %}Recuperar Contraseña{% endblock form_title %}

{% block content %}
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <div class="col-sm-8 col-sm-offset-2">
    <br>
    <br>
    	<h4>Hemos enviado un e-mail con un enlace para que recuperes tu contraseña</h4>
    <br>
    <p>Por favor contáctanos si no recibes el e-mail en unos minutos</p>
    <p>Email: <a href="mailto:clicknbees@gmail.com">clicknbees@gmail.com</a></p>
    </div>
{% endblock %}
