{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}Cambiar contraseña{% endblock %}
{% block form_title %}Cambiar contraseña{% endblock form_title %}

{% block content %}
    <div class="col-sm-6 col-sm-offset-3">
    	<br><br>
    	<div class="widget">
    		<div class="widget-head">
    			<h4 class="heading">Escribe tu nueva contraseña</h4>
    		</div>
    		<div class="widget-body">
    			<form method="POST" action="{% url 'account_change_password' %}">
    				<div class="input-group" style="text-align: left;">
	    				{{form.password1.label}}
	    				{% render_field form.password1 class="form-control col-md-12" required="true" %}  				
	    			</div>
	    			<br>
	    			<div class="input-group" style="text-align: left;">
	    				{{form.password2.label}}
	    				{% render_field form.password2 class="form-control col-md-12" required="true" %}
	    			</div>
	    			<br>
	    			<button type="submit" class="btn btn-success" name="action">Cambiar contraseña</button>
    			</form>
    		</div>
    	</div>
    </div>
{% endblock %}

