{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block form_title %}Cambiar Contraseña{% endblock form_title %}

{% block content %}    
	<br>
	<br>
	<br>
    <div class="col-sm-8 col-sm-offset-2">
    	Tu contraseña ha sido cambiada
    </div>
    <br>
    <br>
    <button onclick="location.href='/'" class="btn btn-success btn-stroke">
    	Regresar al Directorio
    </button>
{% endblock %}
