{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% load widget_tweaks %}

{% block head_title %}Recuperar Contraseña{% endblock %}
{% block form_title %}Recuperar Contraseña{% endblock form_title %}

{% block content %}
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <br><br>
    <!-- Form errors -->
      {% if form.errors %}    
      <br> 
       <span class="label label-primary label-stroke">
          {{form.errors}}  
       </span>
       <br>  
      {% else %}
       <h4>¿Has olvidado tu contraseña? Ingresa tu correo electrónico <br> y te enviaremos un e-mail para que la recuperes</h4>
      {% endif %}        
    <br>
    <br>   
    
   <div class="col-sm-6 col-sm-offset-3">
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div class="widget">
            <div class="widget-head">
                <h4 class="heading">Tu email</h4>
            </div> 
            <div class="widget-body">
                <div class="input-group">                    
                    {% render_field form.email class="form-control col-md-12" required="true" placeholder="Ingresa tu correo electrónico" %}                    
                    <button class="btn btn-success" type="submit" style="margin-top: 0.8em;">
                        Recuperar Contraseña
                    </button>                   
                </div>        
            </div>          
        </div>    
    </form>
    <br>
   </div>    
    <div class="col-sm-8 col-sm-offset-2">
    <p>Por favor contáctanos si tienes algún problema al recuperar tu contraseña <br><br>
    Nuestro correo electrónico: 
        <a href="mailto:clicknbees@gmail.com">clicknbees@gmail.com</a></p>
    </div>
    
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
