{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}Registro Cerrado{% endblock %}
{% block form_title %}Registro Cerrado{% endblock form_title %}

{% block content %}

<div class="col-sm-8 col-sm-offset-2">
	<h4>Lo sentimos pero el registro de usuarios está cerrado momentáneamente</h4>
</div>
{% endblock %}


