{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}Registro{% endblock %}

{% block form_title %}Registrate{% endblock form_title %}

{% block content %}

<p>¿Ya tienes cuenta? Ingresa <a href="{{ login_url }}">aquí</a></p>


{% if socialaccount.providers  %}
<p><b>
	Puedes registrarte a ClicknBees con cualquiera de las siguientes cuentas, <br>
 o puedes usar el formulario de registro que se encuentra debajo 
</b></p>
{% endif %}
<br>

<div class="col-sm-6 col-sm-offset-3">
	 {% include "socialaccount/snippets/provider_list2.html" with process="login" %}	 
</div>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
 <div class="panel panel-default col-sm-6 col-sm-offset-3" style="margin-top: 1em;">
 	 <div class="panel-body"> 	 	
 	 	{{form.errors}}
 	 	<div class="form-group" style="text-align: left;">
 	 		{{form.username.label}}
 	 		{% render_field form.username class="form-control" required="true" %}
 	 	</div>
 	 	<div class="form-group" style="text-align: left;">
 	 		{{form.email.label}}
 	 		{% render_field form.email class="form-control" required="true" %}
 	 	</div>
 	 	<div class="form-group" style="text-align: left;">
 	 		{{form.password1.label}}
 	 		{% render_field form.password1 class="form-control" required="true" %}
 	 	</div>
 	 	<div class="form-group" style="text-align: left;">
 	 		{{form.password2.label}}
 	 		{% render_field form.password2 class="form-control" required="true" %}
 	 	</div>
 	 	<button class="btn btn-success btn-block primaryAction" type="submit">Registrarte &raquo;</button>
 	 </div>
  	{% if redirect_field_value %}
  	<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  	{% endif %}  	
 </div>
</form>


{% endblock %}