{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}Verificar E-mail{% endblock %}
{% block form_title %}Verificar E-mail{% endblock form_title %}

{% block content %}
    
  <div class="col-sm-8 col-sm-offset-2">
  <h4>Te hemos enviado un e-mail para verificar tu cuenta. <br> Abre el link para finalizar el proceso de registro. <br>
  </h4>
  <p>Por favor contáctanos si no recibes el e-mail en unos minutos <br> E-mail: <a href="mailto:clicknbees@gmail.com">clicknbees@gmail.com</a></p>  	  
  </div>

{% endblock %}
