{% load socialaccount %}
{% load i18n %}

<button onclick="location.href='/accounts/facebook/login'" class="btn btn-stroke btn-inverse btn-icon-stacked" style="width: 350px;">
	<i class="fa fa-2x fa-facebook" style="padding-left: 1em;"></i>
	<span style="padding-left: 3em; font-size: 110%;">
		Ingresar con Facebook
	</span>
</button> 
<br>
<button onclick="location.href='/accounts/google/login'" class="btn btn-danger btn-icon-stacked" style="width: 350px; margin-top: 0.5em;">
	<i class="fa fa-2x fa-google-plus" style="padding-left: 1em;"></i>
	<span style="padding-left: 3em; font-size: 110%;">
		Ingresar con Google
	</span>
</button>
<br>
<button onclick="location.href='/accounts/twitter/login'" class="btn btn-info btn-icon-stacked" style="width: 350px;  margin-top: 0.5em;">
	<i class="fa fa-2x fa-twitter" style="padding-left: 1em;"></i>
	<span style="padding-left: 3em; font-size: 110%;">
		Ingresar con Twitter
	</span>
</button>






