<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Click n Bees</title>
</head>
<body>
	<div class="container" >
		<h1>Bienvenido a ClickNBees</h1>
	</div>
	<div class="container">
		<div class="row">
			{% include "search/search.html" %}
		</div>
		<div class="row">
			<h3>Listado de empresas:</h3>
			
			{% for empresa in empresas %}
			<hr>
			{{empresa.nombre}}
			{{empresa.telefono}}
			{% empty %}
			Aún no hay ninguna empresa registrada
			{% endfor %}
		</div>
				
			{% include "directory/promociones.html" %}
		
	</div>
	<footer style="padding-top: 200px;">
		<a href="/accounts/signup">Registra una cuenta</a> <br>
		<a href="/accounts/login">Registrate con Facebook, Google o Twitter</a> <br>
		<a href="/accounts/login">Entra a tu cuenta</a> <br>
		{% if user.is_authenticated %}
		<a href="/accounts/logout">Logout</a>
		{% endif %}
	</footer>
</body>
</html>