{% load account %}
{% user_display user as user_display %}
{% autoescape off %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="es">
<head>

<title>Registro a ClicknBees</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="charset" content="UTF-8"/>

<style>

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #292929;
	margin: 20px 0;
}
	
td[class="wrapper"] {
	width: 600px;
}

td[class="master_table"]{
	width: 700px;
}

td[class="padds"]{
	width: 50px;
}

td[class="social"]{
	width: 25px;
	height: 24px;
}

td[class="social_space"]{
	width: 10px;
}

td[class="social_holder"]{
	width: 130px;
	height: 24px;
}

td[class="footer_social_holder"]{
	width: 130px;
	height: 24px;
}

td[class="footer_social_vertical_spacer"]{
	width: 130px;
}

td[class="social"] img{
	width: 25px;
	height: 24px;
	display: block;
}

a[class="nodecoration"]{
	text-decoration: none;
}

td[class="preheader_padding"]{
	width: 130px;
}

td[class="viewonline"]{
	width: 340px;
	text-align: center;
	color: #8e8e8e;
	font-size: 10px;
}

td[class="logo"]{
	width: 215px;
	border-collapse: collapse;
}

td[class="navigation"]{
	width: 375px;
	text-align:right;
	border-collapse: collapse;
}

td[class="navigation_space"]{
	width: 10px;
}

td[class="mail_headline"]{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	line-height: 50px;
	text-align: center;
	width: 600px;
}

td[class="main_image"] {
	width: 600px;
}

td[class="main_image"] img {
	display: block;
}

td[class="call_to_action"] {
	font-size: 30px;
	text-align: center;
	width: 600px;
}

td[class="content"]{
	width: 600px;
}

td[class="call_to_action_download"] {
	width: 600px;
}

td[class="service_image"] {
	width: 75px;
}

td[class="service_padding"] {
	width: 15px;
}

td[class="service_description"] {
	width: 510px;
}

a[class="service_title"] {
	text-decoration: none;
	font-size: 18px;
	font-family:Arial, Helvetica, sans-serif;
	color: #292929;
	font-weight: bold;
	line-height: 14px;
}

a[class="blog_title"]{
	text-decoration: none;
	font-size: 18px;
	font-family:Arial, Helvetica, sans-serif;
	color: #292929;
	font-weight: bold;
	line-height: 14px;
}

td[class="section_title"] {
	width: 600px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

td[class="one_half"]{
	width: 280px;
}

td[class="one_half_padding"]{
	width: 40px;
}

a[class="social_title"] {
	color: #ffffff;
	font-size: 12px;
	font-weight: normal;
}

td[class="footer"] {
	font-size: 12px;
	color: #ffffff;
	font-weight: normal;
	width: 420px;
}

td[class="footer_padding"] {
	width: 50px;
}

td[class="location"]{
	text-align:center;
	font-size: 12px;
	color: #ffffff;
	width: 600px;
	line-height: 20px;
}

td[class="footer_nav"]{
	line-height: 25px;
	font-size: 12px;
	color: #838383;
	text-align: center;
}

table[class="main_table"]{
	width: 700px;
	box-shadow: 0 0 5px #CCCCCC, 0 0 0 #000000 inset;
}

a[class="picks_heading"]{
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 35px;
	text-decoration: none;
	color: #292929
}

td[class="picks_main_title"]{
	width: 600px;
}

td[class="picks_spacer"]{
	width: 600px;
	height: 35px;
	display: block;
}

td[class="picks_row"]{
	width: 600px;
}

td[class="picks_padding"]{
	width: 20px;
}

td[class="picks_description"]{
	width: 300px;
}

td[class="picks_title_row"]{
	width: 100%;
}

td[class="picks_title"]{
	width: 185px;
}

td[class="picks_title_spacer"]{
	width: 10px;
}

td[class="picks_cta"]{
	width: 105px;
}

td[class="picks_text"]{
	width: 300px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #292929;
}

td[class="full_width_blog"]{
	width: 600px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #292929;
}

td[class="full_width_blog"] img{
	width: 600px;
	height: 220px;
}

td[class="read_more_full_width"] {
	width: 600px;
}

td[class="blog_row"]{
	width: 600px;
}

td[class="one_half_blog_title"]{
	width: 300px;
}

@media screen and (max-width: 480px) and (min-width: 321px) {
	td[class="padds"]{
		width: 10px !important;
	}
	
	td[class="wrapper"]{
		width: 440px !important;
	}
	
	td[class="viewonline"]{
		width: 310px !important;
		text-align: left !important;
	}
	
	td[class="preheader_padding"] {
		width: 10px !important;
	}
	
	table[class="main_table"]{
		width: 460px !important;
	}
	
	table[class="master_table"]{
		width: 460px !important;
	}
	
	td[class="content"]{
		width: 440px !important;
	}
	
	td[class="logo"] img {
		display: none !important;
	}
	
	td[class="logo"] {
		background: url('https://scontent-b-dfw.xx.fbcdn.net/hphotos-frc3/t1.0-9/10303881_1438699443044167_3245339830321754216_n.jpg') no-repeat;
		width: 137px !important;
		display: block;
		height: 82px !important;
	}
	
	td[class="mail_headline"] {
		width: 440px !important;
	}
	
	td[class="call_to_action"] {
		width: 440px !important;
	}
	
	td[class="main_image"] img {
		display: none !important;
	}
	
	td[class="main_image"] {
		width: 440px !important;
		height: 212px !important;
		background: url('images/wd-email2_06_mb.png') no-repeat;
		display: block;
		background-size: contain;
	}
	
	td[class="call_to_action_download"] {
		width: 440px !important;
	}
	
	td[class="section_title"]{
		width: 440px !important;
	}
	
	td[class="one_half"]{
		width: 210px !important;
	}
	
	td[class="picks_row"]{
		width: 440px !important;
	}
	
	td[class="picks_row"] table {
		margin: 0 auto !important;
	}
	
	td[class="one_half_picks"]{
		width: 280px !important;
		margin: 0 auto;
		display: block;
	}
	
	td[class="picks_description"]{
		width: 280px !important;
		margin: 20px auto 0;
		display: block;
	}
	
	td[class="picks_padding"]{
		display: none;
	}
	
	td[class="one_half_padding"]{
		width: 20px !important;
	}
	
	td[class="one_half_image"] img{
		width: 210px !important;
		height: 82px !important;
	}
	
	td[class="picks_image"] img{
		width: 280px !important;
		height: 110px !important;
		margin: 0 auto;
	}
	
	body {
		margin: 10px 0 !important;
	}
	
	td[class="navigation"]{
		width: 290px !important;
	}
	
	td[class="navigation_space"]{
		width: 10px !important;
	}
	
	td[class="picks_main_title"]{
		width: 440px !important;
		text-align:center;
	}

	a[class="service_title"]{
		width: 440px !important;
		text-align:left !important;
	}
	
	td[class="picks_spacer"]{
	width: 440px !important;
	}
	
	td[class="full_width_blog"]{
	width: 440px !important;
	}
	
	td[class="full_width_blog"] img{
		width: 440px !important;
		height: 161px !important;
	}
	
	td[class="read_more_full_width"] {
		width: 440px !important;
	}
	
	td[class="read_more_full_width"] img {
		margin: 0 auto !important;
		width: 105px !important;
	}
	
	td[class="blog_row"] table {
		margin: 0 auto !important;
	}
	
	td[class="picks_title_row"] img {
		margin: 0 auto !important;
	}
	
	td[class="blog_row"]{
		width: 440px !important;
	}
}

@media screen and (max-width: 320px) {
	td[class="padds"]{
		width: 10px !important;
	}
	
	td[class="wrapper"]{
		width: 280px !important;
	}
	
	td[class="content"]{
		width: 280px !important;
	}
	
	td[class="viewonline"]{
		width: 140px !important;
		text-align: left !important;
	}
	
	td[class="preheader_padding"] {
		width: 10px !important;
	}
	
	table[class="main_table"]{
		width: 300px !important;
	}
	
	table[class="master_table"]{
		width: 300px !important;
	}
	
	td[class="logo"] img {
		display: none !important;
	}
	
	td[class="logo"] {
		background: url('https://scontent-b-dfw.xx.fbcdn.net/hphotos-frc3/t1.0-9/10303881_1438699443044167_3245339830321754216_n.jpg') no-repeat;
		width: 137px !important;
		display: block;
		height: 82px !important;
		clear: both;
		margin: 0 auto;
	}
	
	td[class="main_image"] img {
		display: none !important;
	}
	
	td[class="main_image"] {
		width: 280px !important;
		height: 135px !important;
		background: url('images/wd-email2_06_mb.png') no-repeat;
		background-size: contain;
		display: block;
	}
	
	td[class="mail_headline"] {
		width: 280px !important;
		font-size: 26px !important;
	}
	
	td[class="call_to_action"] {
		width: 280px !important;
		font-size: 26px !important;
	}
	
	td[class="main_image"] img {
		width: 280px !important;
		height: 163px !important;
	}
	
	td[class="call_to_action_download"] {
		width: 280px !important;
	}
	
	td[class="section_title"]{
		width: 280px !important;
	}
	
	td[class="one_half"]{
		width: 280px !important;
		display: block;
		clear: both;
	}
	
	table[class="one_half_mobile"]{
		margin-bottom: 50px !important;
	}
	
	td[class="one_half_padding"]{
		display: none;
	}
	
	td[class="one_half_image"] img{
		width: 280px  !important;
	}
	
	body {
		margin: 10px 0 !important;
	}
	
	td[class="navigation"]{
		width: 280px !important;
		display: block;
		text-align: center !important;
		margin-top: 10px !important;
	}
	
	td[class="navigation_space"]{
		display: none;
	}
	
	td[class="footer_social_holder"]{
		width: 130px !important;
		display: block;
		text-align: left;
		margin: 0 auto !important;
		text-align: center;
	}
	
	td[class="footer_social_vertical_spacer"]{
		width: 280px !important;
		height: 0px !important;
	}
	
	td[class="footer"]{
		width: 280px !important;
		display: block;
		margin: 0 auto 10px !important;
		text-align: center;
	}
	
	td[class="footer_padding"]{
		display: none;
	}
	
	td[class="footer_nav"] {
		font-size: 10px;
	}
	
	td[class="picks_title"]{
		width: 280px !important;
	}
	
	td[class="picks_spacer"]{
		width: 280px !important;
	}
	
	td[class="picks_row"]{
		width: 280px !important;
	}
	
	td[class="one_half_picks"]{
		width: 280px !important;
		margin: 0 auto;
		display: block;
	}
	
	td[class="picks_description"]{
		width: 280px !important;
		margin: 20px auto 0;
		display: block;
	}
	
	td[class="picks_padding"]{
		display: none;
	}
	
	/**/
	
	td[class="full_width_blog"]{
	width: 280px !important;
	}
	
	td[class="full_width_blog"] img{
		width: 280px !important;
		height: 102px !important;
	}
	
	td[class="read_more_full_width"] {
		width: 280px !important;
	}
	
	td[class="read_more_full_width"] img {
		margin: 0 auto !important;
		width: 105px !important;
	}
	
	td[class="blog_row"] table {
		margin: 0 auto !important;
	}
	
	td[class="picks_title_row"] img {
		margin: 0 auto !important;
	}
	
	td[class="blog_row"]{
		width: 280px !important;
	}
}

</style>

</head>
<body style="background-color: #f5fbff; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #292929; margin: 20px 0;">

<table align="center" border="0" cellpadding="0" cellspacing="0" class="main_table" style="width: 700px; box-shadow: 0 0 5px #CCCCCC, 0 0 0 #000000 inset;">
    <tr>
    	<td class="master_table" style="width: 700px;" bgcolor="#ffffff">
        	<table cellspacing="0" cellpadding="0" border="0">
            	<tr>
			    	<td class="padds" style="width: 50px;" >
    			    </td>
			        <td class="wrapper" style="width: 600px;">
                    	<table cellspacing="0" cellpadding="0" border="0">
                        	<tr>
                            	<td class="content" style="width: 600px;" height="10">
                                </td>
                            </tr>
                            <tr>
                            	<td class="content" style="width: 600px;">
                                	<table cellspacing="0" cellpadding="0" border="0">
                                    	<tr>
                                        	<td class="preheader_padding" style="width: 130px;" align="left">
                                            </td>
                                            <td class="viewonline" style="width: 340px; text-align: center;	color: #8e8e8e; font-size: 10px;" align="left">
                                            	
                                            </td>
                                        	<td class="social_holder" style="width: 130px; height: 24px;" align="left">
                                            	<table cellspacing="0" cellpadding="0" border="0">
                                                	<tr>
				                                    	<td class="social" style="width: 25px; height: 24px;">
            			                                	<a href="#" class="nodecoration" style="text-decoration: none;">
               				                             		<img src="images/wd-email1_03.png" width="25" height="24" style="display: block;" border="0" alt="FB" />
                            			                    </a>
                                                        </td>
                                                        <td class="social_space" style="width: 10px;">
                                                        </td>
                                                        <td class="social"  style="width: 25px; height: 24px;">
            			                                	<a href="#" class="nodecoration" style="text-decoration: none;">
               				                             		<img src="images/wd-email1_05.png" width="25" height="24" style="display: block;" border="0" alt="TW" />
                            			                    </a>
                                                        </td>
                                                        <td class="social_space" style="width: 10px;">
                                                        </td>
                                                        <td class="social"  style="width: 25px; height: 24px;">
            			                                	<a href="#" class="nodecoration" style="text-decoration: none;">
               				                             		<img src="images/wd-email1_07.png" width="25" height="24" style="display: block;" border="0" alt="G+" />
                            			                    </a>
                                                        </td>
                                                        <td class="social_space" style="width: 10px;">
                                                        </td>
                                                        <td class="social"  style="width: 25px; height: 24px;">
            			                                	<a href="#" class="nodecoration" style="text-decoration: none;">
               				                             		<img src="images/wd-email1_09.png" width="25" height="24"style="display: block;" border="0" alt="IN" />
                            			                    </a>
                                                        </td>
                                                    </tr>
                                                </table>
	                                        </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                            	<td class="content" style="width: 600px;" height="10">
                                </td>
                            </tr>
                            <tr>
                            	<td class="content" style="width: 600px;">
                                	<table cellspacing="0" cellpadding="0" border="0">
                                    	<tr>
                                        	<td class="logo" align="left" style="width: 215px;">
                                            	<a href="#" class="nodecoration" style="text-decoration: none;">
                                            		<img src="https://scontent-b-dfw.xx.fbcdn.net/hphotos-frc3/t1.0-9/10303881_1438699443044167_3245339830321754216_n.jpg" width="211" style="display: block;" border="0" alt="ClicknBees"  />
                                                </a>
                                            </td>
                                            <td class="navigation" align="right" valign="middle" style="width: 375px; text-align:right;">
                                            	<a href="#" class="nodecoration" style="color: #000000; text-decoration: none;">
                                                	ClicknBees
                                                </a>
                                                &nbsp; &nbsp; &nbsp;
                                                <a href="#" class="nodecoration" style="color: #000000; text-decoration: none;">
                                                	Funcionalidades
                                                </a>
                                                &nbsp; &nbsp; &nbsp;
                                                <a href="#" class="nodecoration" style="color: #000000; text-decoration: none;">
                                                	Contacto
                                                </a>
                                            </td>
                                            <td class="navigation_space">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                            	<td class="content" style="width: 600px;" height="20">
                                </td>
                            </tr>
                        </table>
			        </td>
			        <td class="padds" style="width: 50px;" >
			        </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
    	<td class="master_table" style="width: 700px;" bgcolor="#ffffff" >
        	<table cellspacing="0" cellpadding="0" border="0">
            	<tr>
			    	<td class="padds" style="width: 50px;" >
    			    </td>
			        <td class="wrapper">
                    	<table cellspacing="0" cellpadding="0" border="0">
                        	<tr>
                            	<td class="content" style="width: 600px;" height="30">
                                </td>
                            </tr> 
                            <tr>
                            	<td class="content" style="width: 600px;">
                                	<table cellspacing="0" cellpadding="0" border="0">                                    	
                                        <tr>
                                        	<td class="full_width_blog" height="20" style="width: 600px; font-family: Arial, Helvetica, sans-serif;	font-size: 14px; color: #292929;">
                                            </td>
                                        </tr>
                                        <tr>                                        
                                        <tr>
                                        	<td class="full_width_blog" height="20" style="width: 600px; font-family: Arial, Helvetica, sans-serif;	font-size: 14px; color: #292929;">
                                            </td>
                                        </tr>
                                        <tr>
                                        	<td class="full_width_blog" style="width: 600px; font-family: Arial, Helvetica, sans-serif;	font-size: 14px; color: #292929;">
                                            	<a href="#" class="blog_title" style="text-decoration: none;	font-size: 18px; font-family:Arial, Helvetica, sans-serif; color: #292929; font-weight: bold; line-height: 30px;">
                                                   Activación de tu cuenta
                                                </a><br/>
                                                 {% with current_site.name as site_name %}
                                                <h4>El usuario {{ user_display }} de {{ site_name }} ha registrado este correo electrónico</h4>												<h4>confirmar la cuenta con éste correo <a href="{{ activate_url }}">AQUÍ</a></h4><br />													<h3><b>¡Gracias por registrarte en {{site_name}}!</b></h3> 
                                                   {% endwith %}
                                            </td>
                                        </tr>  
                                        <tr>
									                                <td class="content" style="border-top: 1px dashed #d7d7d7;">
									                                </td>
									                           					</tr>			
									                           						<td class="content" style="width: 600px;" height="40">
                                </td>
                            </tr>   						                           					
                                        	<td class="full_width_blog">
                                            	<a href="#" class="nodecoration" style="text-decoration: none;">
                                                    <img src="https://scontent-a-dfw.xx.fbcdn.net/hphotos-prn2/t1.0-9/10154036_1438699753044136_1448074178276998242_n.jpg" width="600" height="220" style="display: block;" border="0" alt="clicknbees"  />
                                                </a>
                                            </td>
                                        </tr>              
                                   
                                     </table>
                                  </td>
                               </tr>                              
                            <tr>
                                                     
                            <tr>
                            	<td class="content" style="width: 600px;" height="40">
                                </td>
                            </tr>                           
                            <tr>
                            	<td class="content" style="width: 600px;" height="30">
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="padds" style="width: 50px;" >
    			    </td>
                </tr>
           </table>
       </td>
   </tr>
    <tr>
    	<td class="master_table" style="width: 700px;" bgcolor="#444444">
        	<table cellspacing="0" cellpadding="0" border="0">
            	<tr>
			    	<td class="padds" style="width: 50px;" >
    			    </td>
			        <td class="wrapper">
                    	<table cellspacing="0" cellpadding="0" border="0">
                        	<tr>
                            	<td class="content" style="width: 600px;" height="30">
                                </td>
                            </tr>
                            <tr>
                            	<td class="content" style="width: 600px;">
                                	<table cellspacing="0" cellpadding="0" border="0">
                                    	<tr>
                                        	<td class="footer" style="font-size: 12px; color: #ffffff;	font-weight: normal; width: 420px;" valign="top" align="left">
                                            
																																												Descripción de ClicknBees                                            
                                            </td>
                                            <td class="footer_padding" style="width: 50px;" valign="top" align="left">
                                            </td>
                                            <td class="footer_social_holder" style="width: 130px; height: 24px;" valign="top" align="right">
                                            	<table cellspacing="0" cellpadding="0" border="0">
                                                	<tr>
                                                    	<td class="footer_social_holder" valign="top">
                                                        	<a class="social_title" style="color: #ffffff; font-size: 12px; font-weight: normal; text-decoration: none;">
                                                            	NUESTRAS REDES SOCIALES
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                    	<td class="footer_social_vertical_spacer" style="width: 130px;" height="20">
                                                        </td>
                                                    </tr>
                                                	<tr>
                                                    	<td class="footer_social_holder" valign="top">
                                                        	<table cellspacing="0" cellpadding="0" border="0">
                                                            	<tr>
                                                                    <td class="social"  style="width: 25px; height: 24px;">
                                                                        <a href="#" class="nodecoration" style="text-decoration: none;">
                                                                            <img src="images/wd-email1_43.png" height="24" width="25" style="display: block;" border="0" alt="FB" />
                                                                        </a>
                                                                    </td>
                                                                    <td class="social_space" style="width: 10px;">
                                                                    </td>
                                                                    <td class="social"  style="width: 25px; height: 24px;">
                                                                        <a href="#" class="nodecoration" style="text-decoration: none;">
                                                                            <img src="images/wd-email1_45.png" height="24" width="25" style="display: block;" border="0" alt="TW" />
                                                                        </a>
                                                                    </td>
                                                                    <td class="social_space" style="width: 10px;">
                                                                    </td>
                                                                    <td class="social"  style="width: 25px; height: 24px;">
                                                                        <a href="#" class="nodecoration" style="text-decoration: none;">
                                                                            <img src="images/wd-email1_47.png" height="24" width="25" style="display: block;" border="0" alt="G+" />
                                                                        </a>
                                                                    </td>
                                                                    <td class="social_space" style="width: 10px;">
                                                                    </td>
                                                                    <td class="social"  style="width: 25px; height: 24px;">
                                                                        <a href="#" class="nodecoration" style="text-decoration: none;">
                                                                            <img src="images/wd-email1_49.png" height="24" width="25" style="display: block;" border="0" alt="IN" />
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
	                                        </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                            	<td class="content" style="width: 600px;" height="30">
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="padds" style="width: 50px;" >
    			    </td>
                </tr>
			</table>
		</td>
	</tr>
    <tr>
    	<td bgcolor="#575757" height="1" class="master_table" style="width: 700px;">
        </td>
    </tr>
    <tr>
    	<td class="master_table" style="width: 700px;" bgcolor="#444444">
        	<table cellspacing="0" cellpadding="0" border="0">
            	<tr>
			    	<td class="padds" style="width: 50px;" >
    			    </td>
			        <td class="wrapper">
                    	<table cellspacing="0" cellpadding="0" border="0">
                        	<tr>
                            	<td class="content" style="width: 600px;" height="30">
                                </td>
                            </tr>
                            <tr>
                            	<td class="location" style="text-align:center; font-size: 12px; color: #ffffff; width: 600px; line-height: 20px;">
                                	
																													ClicknBees
                                    
                                </td>
                            </tr>
                            <tr>
                            	<td class="footer_nav" style="line-height: 25px; font-size: 12px; color: #838383; text-align: center;">
                                	<a href="#" style="color: #838383; text-decoration: none;">
                                    Contactanos
                                    </a>
                                    &nbsp; | &nbsp;
                                    <a href="#" style="color: #838383; text-decoration: none;">
                                    Website
                                    </a>
                                    &nbsp; | &nbsp;
                                    <a href="#" style="color: #838383; text-decoration: none;">
                                    Suscribete al boletín
                                    </a>
                                    
                                </td>
                            </tr>
                            <tr>
                            	<td class="content" style="width: 600px;" height="30">
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="padds" style="width: 50px;" >
    			    </td>
                </tr>
            </table>
       </td>
   </tr>
</table>
</body>
</html>
{% endautoescape %}