{% load staticfiles %}
	<!-- Global -->
	<script data-id="App.Config">
	var basePath = '',
		commonPath = '../assets/',
		rootPath = '../',
		DEV = false,
		componentsPath = '../assets/components/',
		layoutApp = true,
		module = 'admin';
	
	var primaryColor = '#f9ac1d',
		dangerColor = '#b55151',
		successColor = '#609450',
		infoColor = '#4a8bc2',
		warningColor = '#ab7a4b',
		inverseColor = '#45484d';
	
	var themerPrimaryColor = primaryColor;
	</script>

<script src="{% static 'assets/js/ajax.js' %}"></script>	
<script src="{% static 'remake/assets/components/library/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'remake/assets/components/plugins/nicescroll/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'remake/assets/components/plugins/breakpoints/breakpoints.js' %}"></script>
<script src="{% static 'remake/assets/components/plugins/preload/pace/pace.min.js' %}"></script>
<script src="{% static 'remake/assets/components/core/js/preload.pace.init.js"></script>
<script src="{% static 'remake/assets/components/common/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js' %}"></script>
<script src="{% static 'remake/assets/components/common/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js' %}"></script>
<script src="{% static 'remake/assets/components/common/sliders/jqueryui-sliders/assets/custom/js/jqueryui-sliders.init.js' %}"></script>
<script src="{% static 'remake/assets/components/core/js/sidebar.main.init.js' %}"></script>
<script src="{% static 'remake/assets/components/core/js/sidebar.collapse.init.js' %}"></script>
<script src="{% static 'remake/assets/components/core/js/sidebar.kis.init.js' %}"></script>
<script src="{% static 'remake/assets/components/core/js/core.init.js' %}"></script>