{% load staticfiles %}
			
<!-- col-separator.box -->
{% if resultados.count > 0 %}
<div class="col-separator col-separator-last-sm">				
	{% for resultado in resultados %}
	<div class="row row-merge bg-gray">
		<div class="col-md-4">
			<div class="text-center innerAll inner-2x">
				
				<img src="/static/assets/images/bee.jpg" alt="" width="140" class="display-inline-block">
				
				<div class="separator"></div>
				<h5>{{resultado.slogan}}</h5>
				<div class="separator bottom"></div>						
				<div class="row">
					<div class="col-md-6">
						<button id="modals-bootbox-custom" class="btn btn-primary">Dirección</button>
					</div>
					<div class="col-md-6">
						<button id="modals-bootbox-custom" class="btn btn-primary">Contacto</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8 bg-white text-regular" style="background-color: white;">
			<div class="innerAll inner-2x">
				<h4 class="margin-none">{{resultado.nombre}}</h4>						
				<p>{{resultado.descripcion|safe}}</p>						
				<a href="" class="text-primary">Ver Micrositio</a>						
			</div>
		</div>				
	</div>
	<div class="col-separator-h box"></div>	
	{% empty %}
	<h3>No hay empresas con ese nombre</h3>
	{% endfor %}					
</div>
<!-- // END col-separator.box -->
{% else %}
<!-- col-separator.box -->
<div class="col-separator col-separator-last-sm">				
	{% for empresa in empresas %}
	<div class="row row-merge bg-gray">
		<div class="col-md-4">
			<div class="text-center innerAll inner-2x">
				{% if empresa.logotipo %}
				<img src="{{empresa.logotipo.url}}" width="140" alt="" class="display-inline-block" />
				{% else %}
				<img src="{% static 'assets/images/bee.jpg' %}" alt="" width="140" class="display-inline-block">
				{% endif %}
				<div class="separator"></div>
				<h5>{{empresa.slogan}}</h5>
				<div class="separator bottom"></div>						
				<div class="row">
					<div class="col-md-6">
						<button id="modals-bootbox-custom" class="btn btn-primary">Dirección</button>
					</div>
					<div class="col-md-6">
						<button id="modals-bootbox-custom" class="btn btn-primary">Contacto</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8 bg-white text-regular" style="background-color: white;">
			<div class="innerAll inner-2x">
				<h4 class="margin-none">{{empresa.nombre}}</h4>						
				<p>{{empresa.descripcion|safe}}</p>						
				<a href="" class="text-primary">Ver Micrositio</a>						
			</div>
		</div>				
	</div>			
	<div class="col-separator-h box"></div>	
	{% endfor %}				
</div>
<!-- // END col-separator.box -->
{% endif %}






