o{% load static %}
{% load url from future %}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7 app sidebar sidebar-discover sidebar-kis footer-sticky navbar-sticky"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8 app sidebar sidebar-discover sidebar-kis footer-sticky navbar-sticky"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9 app sidebar sidebar-discover sidebar-kis footer-sticky navbar-sticky"> <![endif]-->
<!--[if gt IE 8]> <html class="ie app sidebar sidebar-discover sidebar-kis footer-sticky navbar-sticky"> <![endif]-->
<!--[if !IE]><!--><html class="app sidebar sidebar-discover sidebar-kis footer-sticky navbar-sticky"><!-- <![endif]-->
<head>
	<title>Click n Bees</title>
	
	<!-- Meta -->
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

		
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Template color -->
	<!-- Android Green -->
	<!--<link rel="stylesheet" href="{% static 'assets/android.css' %}">-->
	<!-- Green -->
	<!--<link rel="stylesheet" href="{% static 'assets/green-buty.css' %}">-->
	<!-- Light Green -->
	<!--<link rel="stylesheet" href="{% static 'assets/light-green.css' %}">-->
	<!-- Light Green -->
	<link rel="stylesheet" href="{% static 'assets/medium-green.css' %}">
	<!-- Light Green -->
	<!--<link rel="stylesheet" href="{% static 'assets/dark-green.css' %}">-->

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.min.js
"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js
"></script>
<script src="{% static 'assets/components/modules/admin/charts/flot/assets/lib/excanvas.js' %}"></script>	
<script>if (/*@cc_on!@*/false && document.documentMode === 10) { document.documentElement.className+=' ie ie10'; }</script>
	
</head>
<body class=" menu-right-hidden">
	
	<!-- Main Container Fluid -->
	<div class="container-fluid menu-hidden">

				<!-- Main Sidebar Menu -->
		<div id="menu" class="hidden-print hidden-xs sidebar-blue sidebar-brand-primary">

			<div id="sidebar-discover-wrapper">
	<div id="logoWrapper">
		<a href="{% url 'index' %}" class="animated fadeInDown"><img src="{% static 'assets/images/logo.png' %}" width="150" style="margin-left: 1ex;" alt=""></a>		
	</div>
	<ul class="list-unstyled">
	
<li><a href="#"><i class="fa fa-file-text"></i><span>Categorías</span></a></li>
<li><a href="#"><i class="fa fa-file-text-o"></i><span>Funcionalidad</span></a></li>
<li class="active"><a href="#"><i class="fa fa-search"></i><span>Preguntas</span></a></li>
<li><a href="#"><i class="fa fa-question-circle"></i><span>ClickNBees</span></a></li>
<li class="reset">
	<div class="innerAll text-center">
		<div class="btn btn-inverse"><a href="/accounts/signup">REGISTRA <br> TU EMPRESA <br> GRATIS <i class="fa fa-fw fa-pencil text-primary"></i></a></div>
	</div>
</li>
	</ul>
</div>




			
		</div>
		<!-- // Main Sidebar Menu END -->
		
				<!-- Main Sidebar Menu -->
		<div id="menu_kis" class="hidden-print sidebar-light">

			<div>
{% csrf_token %}
<ul class="list-unstyled">

<li><a href="#" value="alimentos"><img src="{% static "assets/cnb-icons/alimentos.png" %}" alt=""><span> Alimentos</span></a></li>

<li><a href="#" class="glyphicons film filtrar" value="entretrenimiento"><i></i> Entretenimiento</a></li>

<li><a href="#" class="glyphicons book filtrar" value="educacion"><i></i> Educación</a></li>

<li><a href="#" class="glyphicons building filtrar" value="gubernamental"><i> Gubernamental</i></a></li>

<li><a href="#" class="glyphicons iphone filtrar" value="tecnologia"><i></i><span> Tecnología</span></a></li>

<li><a href="#" class="glyphicons shopping_cart filtrar" value="comercio"><i></i><span> Comercio</span></a></li>

<li><a href="#" class="glyphicons car filtrar" value="transporte"><i></i><span> Transporte</span></a></li>

<li><a href="#" class="glyphicons dog filtrar" value="animales"><i></i><span> Animales</span></a></li>

<li><a href="#" class="glyphicons suitcase filtrar" value="profesionales"><i></i> Profesionales</a></li>

<li><a href="#" class="glyphicons soccer_ball filtrar" value="deportes"><i></i> Deportes</a></li>

<li><a href="#" class="glyphicons airplane filtrar" value="vacaciones"><i></i><span> Vacaciones</span></a></li>

<li><a href="#" class="glyphicons tags filtrar" value="ofertas"><i></i><span>Ofertas</span></a></li>		
	</ul>
</div>


			
		</div>
		<!-- // Main Sidebar Menu END -->
				
		<!-- Content -->
		<div id="content">

						
				<div class="navbar hidden-print navbar-primary main" role="navigation">
	<div class="user-action user-action-btn-navbar pull-left border-right">
		<button class="btn btn-sm btn-navbar btn-primary btn-stroke"><i class="fa fa-bars fa-2x"></i></button>
	</div>
	<div class="col-md-3 padding-none visible-md visible-lg">
    	<div class="input-group innerLR">
    		{% csrf_token %}
      		<input type="text" id="search" class="form-control input-sm" placeholder="Buscar ...">			
      		<span class="input-group-btn">
        		<button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
      		</span>      		
    	</div><!-- /input-group -->
  	</div>

  	<div class="user-action visible-xs user-action-btn-navbar pull-right">
		<button class="btn btn-sm btn-navbar-right btn-primary"><i class="fa fa-fw fa-arrow-right"></i><span class="menu-left-hidden-xs"> Categorías</span></button>
	</div>
	<div class="user-action pull-right menu-right-hidden-xs menu-left-hidden-xs">
		<div class="dropdown username hidden-xs pull-left">
			<a class="dropdown-toggle " data-toggle="dropdown" href="#">
				<span class="media margin-none">					
					<span class="media-body">
						{% if user.is_authenticated %}
						Hola {{user.username}} <span class="caret"></span>
						{% else %}
						Ingreso a Cuenta <span class="caret"></span> 
						{% endif %}
					</span>
				</span>
			</a>
			<ul class="dropdown-menu pull-right">							
				{% if user.is_authenticated %}
				<li><a href="{% url 'perfil' pk=user.pk %}">Perfil de Usuario</a></li>
				{% if user.empresa.first %}
				<li><a href="/perfil/empresa">Perfil de Empresa</a></li>
				{% endif %}
				<li><a href="{% url 'account_logout' %}">Salir</a></li>
				{% else %}
				<li><a href="{% url 'account_login' %}">Ingresar a tu cuenta</a></li>
				<li><a href="{% url 'account_signup' %}">Registrarte</a></li>				
				{% endif %}
		    </ul>
		</div>
		<div class="dropdown dropdown-icons padding-none">
			<a data-toggle="dropdown" href="#" class="btn btn-primary btn-circle dropdown-toggle"><i class="fa fa-user"></i> </a>
			<ul class="dropdown-menu">
				<li data-toggle="tooltip" data-title="Comparte en Facebook" data-placement="left" data-container="body"><a href=""><i class="fa fa-facebook-square blue"></i></a></li>
				<li data-toggle="tooltip" data-title="Comparte en Twitter" data-placement="left" data-container="body"><a href=""><i class="fa fa-twitter"></i></a></li>
				<li data-toggle="tooltip" data-title="Comparte en Google Plus" data-placement="left" data-container="body"><a href=""><i class="fa fa-google-plus-square"></i></a></li>
			</ul>
		</div>
	</div>	
	<div class="clearfix"></div>
</div>
<!-- // END navbar -->

	
	{% block content %}
	{% endblock %}
					<!-- Footer -->
		<div id="footer" class="hidden-print">
			
			<!--  Copyright Line -->
			<div class="copy">&copy; 2014 - <a href="http://www.mosaicpro.biz">clicknbees</a> - Todos los derechos reservados.
			<!--  End Copyright Line -->
	
		</div>
		<!-- // Footer END -->
		
				
	</div>
	<!-- // Main Container Fluid END -->
	

	<!-- Global -->
	<script data-id="App.Config">
	var basePath = '',
		commonPath = '../assets/',
		rootPath = '../',
		DEV = false,
		componentsPath = '../assets/components/',
		layoutApp = true,
		module = 'admin';
	
	var primaryColor = '#2996C4',
		dangerColor = '#009900',
		successColor = '#FFFF00',
		infoColor = '#4a8bc2',
		warningColor = '#ab7a4b',
		inverseColor = '#45484d';
	
	var themerPrimaryColor = primaryColor;
	</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.min.js
"></script>
<script src="{% static 'assets/js/ajax.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js
"></script>
<script src="{% static 'assets/components/modules/admin/charts/flot/assets/lib/excanvas.js' %}"></script>	
<script>if (/*@cc_on!@*/false && document.documentMode === 10) { document.documentElement.className+=' ie ie10'; }</script>
	
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js
"></script>
<script src="{% static 'assets/components/helpers/themer/assets/js/themer.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.5.1/jquery.nicescroll.min.js
"></script>
<script src="{% static 'assets/components/plugins/breakpoints/breakpoints.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pace/0.4.17/pace.js
"></script>
<!--<script src="{% static 'assets/components/plugins/preload/pace/pace.min.js?v=v1.9.6&sv=v0.0.1' %}"></script> -->
<script src="{% static 'assets/components/core/js/preload.pace.init.js' %}"></script>
<script src="{% static 'assets/components/plugins/holder/holder.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js
"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Uniform.js/2.1.2/jquery.uniform.min.js
"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.11.2/js/blueimp-gallery.js
"></script>
<script src="{% static 'assets/components/common/gallery/blueimp-gallery/assets/lib/js/jquery.blueimp-gallery.min.js' %}"></script>
<script src="{% static 'assets/components/core/js/sidebar.main.init.js' %}"></script>
<script src="{% static 'assets/components/core/js/sidebar.discover.init.js' %}"></script>
<script src="{% static 'assets/components/core/js/sidebar.kis.init.js' %}"></script>
<script src="{% static 'assets/components/core/js/core.init.js' %}"></script>
<!-- Comentar animations.init.js, animations.less y animations.css para quitar animaciones -->
<script src="{% static 'assets/components/core/js/animations.init.js' %}"></script>
</body>
</html>