{% extends "coral/base.html" %}

{% block content %}
{% load staticfiles %}	
<!--============== TEMPLATE START ===========-->
	<div class="layout-app" style="margin-top: -3ex;">

			<!-- row-app -->
<div class="row row-app">
	<!-- col -->
	<div class="col-lg-8 col-sm-6 col-md-6">
		<div class="col-separator col-separator-last-sm" id="search_results">
			{% include 'coral/ajax_search.html' %}	
		</div>	
	</div>
	<!-- // END col -->

	<!-- col -->
	<div class="col-lg-4 col-sm-12">

		<!-- col-separator.box -->
		<div class="col-separator">
							
			<div class="relativeWrap">
				<img src="{% static '../assets/images/photodune-1176874-modern-interior-design-of-apartment-xs.jpg' %}" alt="" class="img-responsive padding-none border-none" />
				<div class="fixed-bottom bg-gray border-bottom">
					<div class="innerAll inner-2x">
						<a href="" class="pull-right btn btn-xs btn-primary"><i class="fa fa-fw fa-caret-right"></i></a>
						<h4 class="margin-none">Sidebar</h4>
					</div>
				</div>
			</div>
			<div class="media margin-none innerAll">
				<a href="" class="pull-left"><img src="{% static '../assets/images/people/35/3.jpg' %}" alt="" /></a>
				<div class="media-body">
					by <strong>Clicknbees</strong>
					<p class="text-small margin-none"><i class="fa fa-fw fa-clock-o"></i> 13 hours ago</p>
				</div>
			</div>
			<div class="col-separator-h"></div>

			<div class="innerAll inner-2x bg-primary text-center">
				<div class="innerTB">
					<h4 class="text-white">Content</h4>
					<a href="" class="text-white"><i class="fa fa-fw fa-eye"></i> 1,540</a> &nbsp;
					<a href="" class="text-white"><i class="fa fa-fw fa-share"></i> 9,800</a>
				</div>
			</div>
			<div class="media margin-none innerAll">
				<a href="" class="pull-left"><img src="{% static '../assets/images/people/35/2.jpg' %}" alt="" /></a>
				<div class="media-body">
					by <strong>Clicknbees</strong>
					<p class="text-small margin-none"><i class="fa fa-fw fa-clock-o"></i> 15 hours ago</p>
				</div>
			</div>
			<div class="col-separator-h"></div>

		</div>
		<!-- // END col-separator.box -->

	</div> 
	<!-- // END col -->

</div>
<!-- // END row-app -->


	
		
		
		</div>
		</div>
		<!-- // Content END -->
		
		<div class="clearfix"></div>
		<!-- // Sidebar menu & content wrapper END -->
		
	{% endblock %}