{% load staticfiles %}

{% if resultados.count > 0 %}
	{% for resultado in resultados %}
	<div class="col-sm-12">
	<div class="bg-white innerAll" data-animate="bounceIn" data-delay="0">	
		<div class="media margin-none">																	
			<a href="" class="pull-left" style="width: 200px;">
			{% if resultado.logotipo %}
				<img src='{{resultado.logotipo}}' alt="" style="width: 120px;" class="img-responsive"></a>
			{% else %}
				<img src='{% static "assets/images/bee.jpg" %}' style="width: 120px;" alt="" class="img-responsive"></a>
			{% endif %}
			<div class="media-body">
				<div class="pull-right">
					|f| |t| |g|
				</div>
				<h3 class="margin-none">{{resultado.nombre}}</h3>	
				<div class="innerAll bg-gray">  																		
				<i class="fa fa-fw icon-home-fill-1"></i> Dirección	&nbsp; <br>
				{{resultado.direccion}}, {{resultado.colonia}} <br>
				<i class="fa fa-fw icon-phone-fill-1"></i> {{resultado.telefono}}
				</div>
				<div class="separator"></div>				
			</div>					
		</div>				
	</div>
	<div class="separator"></div> 
	</div>
	{% endfor %}
{% else %}
	{% for empresa in empresas %}
	<div class="col-sm-12">
	<div class="bg-white innerAll" data-animate="bounceIn" data-delay="0">	
		<div class="media margin-none">																	
			<div class="col-sm-3">
				<a href="#" class="pull-left">
				{% if empresa.logotipo %}
					<img src='{{empresa.logotipo}}' alt="" style="width: 120px;" class="img-responsive"></a>
				{% else %}
					<img src='{% static "assets/images/bee.jpg" %}' style="width: 120px;" alt="" class="img-responsive"></a>
				{% endif %}
			</div>
			<div class="media-body col-sm-9">
				<div class="pull-right">
					|f| |t| |g|
				</div>
				<div class="col-sm-4">
					<h3 class="margin-none">{{empresa.nombre}}</h3>	
					<div class="innerAll bg-gray" style="text-align:left;"> 
						<i class="fa fa-fw icon-home-fill-1"></i> Dirección	&nbsp; <br>
						{{empresa.direccion}}, {{empresa.colonia}} <br>
						Tel: {{empresa.telefono}} <br>
						Horarios: {{empresa.horarios}}
					</div>
				</div>
				<div class="col-sm-8" style="top:2em;">
					<p style="font-size:120%;">{{empresa.descripcion}}</p>
				</div>
				<div class="separator"></div>				
			</div>					
		</div>				
	</div>
	<div class="separator"></div> 
	</div>
	{% endfor %}
{% endif %}