{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}Beta Android{% endblock %}
{% block form_title %}Beta App Android{% endblock form_title %}

{% block content %}
    
  <div class="col-sm-8 col-sm-offset-2">
  <h4>Descarga la versión demo de la aplicación de Android<br>
  </h4>
  <h6>Para instalarla copa el archivo .apk en tu dipositivo y autoriza la instalación, es necesario que el dispositivo esté conectado a una red para poder ver el contenido actual del directorio</h6>  	
  <br>
  <h6>Cualquier duda, comentario o sugerencia envía un correo electrónico a <a href="mailto:clicknbees@gmail.com">clicknbees@gmail.com</a></h6>  

  <br>
  <hr>
  <div class="row">
  	<img src="http://hd.wallpaperswide.com/thumbs/android_logo_2-t2.jpg" width="500" alt="">
  </div>
  <div class="row" style="text-align: center;">
  	Link de descarga: <br><br>
  	<a href="https://www.dropbox.com/s/hxai4hj2wjh5t7a/clicknbees.apk" target="blank">Dropbox</a> <br>
  	<a href="https://copy.com/r3lhgd7W38sE" target="blank">Copy</a>
  </div>
  </div>

{% endblock %}
