{% load staticfiles %}
{% load url from future %}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7 app sidebar sidebar-fusion sidebar-kis footer-sticky navbar-sticky"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8 app sidebar sidebar-fusion sidebar-kis footer-sticky navbar-sticky"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9 app sidebar sidebar-fusion sidebar-kis footer-sticky navbar-sticky"> <![endif]-->
<!--[if gt IE 8]> <html class="ie app sidebar sidebar-fusion sidebar-kis footer-sticky navbar-sticky"> <![endif]-->
<!--[if !IE]><!--><html class="app sidebar sidebar-fusion sidebar-kis footer-sticky navbar-sticky"><!-- <![endif]-->
<head>
	<title>Click n Bees</title>
	
	<!-- Meta -->
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	
	<!-- 
	**********************************************************
	In development, use the LESS files and the less.js compiler
	instead of the minified CSS loaded by default.
	**********************************************************
	<link rel="stylesheet/less" href="../assets/less/admin/module.admin.stylesheet-complete.sidebar_type.fusion.less" />
	-->

		<!--[if lt IE 9]><link rel="stylesheet" href="../assets/components/library/bootstrap/css/bootstrap.min.css" /><![endif]-->
	<link rel="stylesheet" href='{% static "remake/assets/less/mobile-green.css" %}' />
	
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

	<script src="{% static 'remake/assets/components/library/jquery/jquery.min.js' %}"></script>
	<!--<script src="{% static 'remake/assets/components/library/jquery/jquery-migrate.min.js' %}"></script>-->
	<script src="{% static 'remake/assets/components/library/modernizr/modernizr.js' %}"></script>
	<!--<script src="{% static 'remake/assets/components/plugins/less-js/less.min.js' %}"></script>-->
	<!--<script src="{% static 'remake/assets/components/modules/admin/charts/flot/assets/lib/excanvas.js' %}"></script>-->
	<!--<script src="{% static 'remake/assets/components/plugins/browser/ie/ie.prototype.polyfill.js' %}"></script>
	<script src="{% static 'remake/assets/components/library/jquery-ui/js/jquery-ui.min.js' %}"></script>-->
	<!--<script src="{% static 'remake/assets/components/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js' %}"></script>-->
	<script>
		if (/*@cc_on!@*/false && document.documentMode === 10) { document.documentElement.className+=' ie ie10'; }
	</script>
	
</head>
<body class=" menu-right-hidden">
	
	<!-- Main Container Fluid -->
	<div class="container-fluid menu-hidden">

				<!-- Main Sidebar Menu -->
		<div id="menu" class="hidden-print hidden-xs sidebar-blue sidebar-brand-primary">

			<div id="sidebar-discover-wrapper">
	<div id="logoWrapper">
		<a href="/" class="animated fadeInDown"><img src="http://res.cloudinary.com/dumbellhero/image/upload/v1400710065/Logo%20Variations/Logo-circular2.png" width="150" style="margin-left: 3em; margin-top: 2em;" alt=""></a>		
	</div>
	<ul class="list-unstyled">
	
<li><a href="#"><i class="fa fa-file-text"></i><span>Categorías</span></a></li>
<li><a href="/"><i class="fa fa-book"></i><span>Directorio</span></a></li>
<li class="active"><a href="{% url 'dependencias' %}"><i class="fa fa-search"></i><span>Dependencias</span></a></li>
<li><a href="https://www.youtube.com/watch?v=VgzR-dzJ1ng"><i class="fa fa-file-text-o"></i><span>Funcionalidad</span></a></li>
<li><a href="#"><i class="fa fa-question-circle"></i><span>ClickNBees</span></a></li>
<li class="reset">
	<div class="innerAll text-center">
		<div class="btn btn-inverse"><a href="/accounts/signup">REGISTRA <br> TU EMPRESA <br> GRATIS <i class="fa fa-fw fa-pencil text-primary"></i></a></div>
	</div>
</li>
	</ul>
</div>




			
		</div>
		<!-- // Main Sidebar Menu END -->
		
				<!-- Main Sidebar Menu -->
		<div id="menu_kis" class="hidden-print sidebar-light">

			<div>
<ul class="list-unstyled">
	<!-- Category menu for filtering -->
		<li><a href="#" value="alimentos"><img src='{% static "assets/cnb-icons/alimentos.png" %}' alt=""><span> Alimentos</span></a></li>
		<li><a href="#"><img src='{% static "assets/cnb-icons/asociaciones.png" %}' alt=""><span>Asociaciones</span></a></li>
		<li><a href="#" class="filtrar" value="comercio"><img src='{% static "assets/cnb-icons/comercio.png" %}' alt=""><span> Comercio</span></a></li>
		<li><a href="#" class="filtrar" value="deportes"><img src='{% static "assets/cnb-icons/deporte.png" %}' alt=""><span> Deportes</span></a></li>	
		<li><a href="#" value="educacion"><img src='{% static "assets/cnb-icons/educacion.png" %}' alt=""><span> Educación</span></a></li>
		<li><a href="#" class="filtrar" value="entretenimiento"><img src='{% static "assets/cnb-icons/entretenimiento.png" %}' alt=""><span> Entretenimiento</span></a></li>
		<li><a href="#" class="filtrar" value="eventos"><img src='{% static "assets/cnb-icons/eventos.png" %}' alt=""><span> Eventos</span></a></li>
		<li><a href="#" class="filtrar" value="financieros"><img src='{% static "assets/cnb-icons/financieros.png" %}' alt=""><span> Financieros</span></a></li>	
		<li><a href="#" value="gubernamental"><img src='{% static "assets/cnb-icons/gubernamental.png" %}' alt=""><span>Gubernamental</span></a></li>
		<li><a href="#" class="filtrar" value="hogar"><img src='{% static "assets/cnb-icons/hogar.png" %}' alt=""><span>Hogar</span></a></li>
		<li><a href="#" class="filtrar" value="oficios"><img src='{% static "assets/cnb-icons/oficios.png" %}' alt=""><span>Oficios</span></a></li>	
		<li><a href="#" class="filtrar" value="profesionales"><img src='{% static "assets/cnb-icons/profesional.png" %}' alt=""><span>Profesionales</span></a></li>
		<li><a href="#" class="filtrar" value="proveedores"><img src='{% static "assets/cnb-icons/proveedores.png" %}' alt=""><span>Proveedores</span></a></li>	
		<li><a href="#" class="filtrar" value="ropa"><img src='{% static "assets/cnb-icons/ropa.png" %}' alt=""><span>Ropa</span></a></li>	
		<li><a href="#" class="filtrar" value="animales"><img src='{% static "assets/cnb-icons/salud.png" %}' alt=""><span> Salud</span></a></li>
		<li><a href="#" class="filtrar" value="servicios-varios"><img src='{% static "assets/cnb-icons/servicios-varios.png" %}' alt=""><span>Servicios</span></a></li>	
		<li><a href="#" value="social"><img src='{% static "assets/cnb-icons/social.png" %}' alt=""><span> Social</span></a></li>
		<li><a href="#" value="tecnologia"><img src='{% static "assets/cnb-icons/tecnologia.png" %}' alt=""><span> Tecnología</span></a></li>
		<li><a href="#" class="filtrar" value="transporte"><img src='{% static "assets/cnb-icons/transporte.png" %}' alt=""><span> Transporte</span></a></li>
		<li><a href="#" class="filtrar" value="vacaciones"><img src='{% static "assets/cnb-icons/turismo.png" %}' alt=""><span> Turismo</span></a></li>
		<li><a href="#" class="filtrar" value="ofertas"><img src='{% static "assets/cnb-icons/cupones.png" %}' alt=""><span>Cupones</span></a></li>	
		<li><a href="#" class="filtrar" value="emergencias"><img src='{% static "assets/cnb-icons/emergencias.png" %}' alt=""><span>Emergencias</span></a></li>
</ul>
</div>


			
		</div>
		<!-- // Main Sidebar Menu END -->
				
		<!-- Content -->
		<div id="content">

						
				<div class="navbar hidden-print navbar-primary main" role="navigation">
	<div class="user-action user-action-btn-navbar pull-left border-right">
		<button class="btn btn-sm btn-navbar btn-primary btn-stroke"><i class="fa fa-bars fa-2x"></i></button>
	</div>
	<div class="col-md-3 padding-none visible-md visible-lg">
    	<div class="input-group innerLR">
    		{% csrf_token %}
      		<input type="text" cols="50" class="form-control input-sm" id="search" placeholder="Buscar negocio ...">      		
    	</div><!-- /input-group -->
  	</div>

  	<div class="user-action visible-xs user-action-btn-navbar pull-right">
		<button class="btn btn-sm btn-navbar-right btn-primary cat-menu"><i class="fa fa-fw fa-arrow-right"></i><span class="menu-left-hidden-xs"> Categorías</span></button>
	</div>
	<div class="user-action pull-right menu-right-hidden-xs menu-left-hidden-xs">
		<div class="dropdown username hidden-xs pull-left">
			<a class="dropdown-toggle " data-toggle="dropdown" href="#">
				<span class="media margin-none">					
					<span class="media-body">
						{% if user.is_authenticated %}
						Hola {{user.username}} <span class="caret"></span>
						{% else %}
						Ingreso a Cuenta <span class="caret"></span> 
						{% endif %}
					</span>
				</span>
			</a>
			<ul class="dropdown-menu pull-right">							
				{% if user.is_authenticated %}
				<li><a href="{% url 'perfil' pk=user.pk %}">Perfil de Usuario</a></li>
				{% if user.empresa.first %}
				<li><a href="/perfil/empresa">Perfil de Empresa</a></li>
				{% endif %}
				<li><a href="{% url 'account_logout' %}">Salir</a></li>
				{% else %}
				<li><a href="{% url 'account_login' %}">Ingresar a tu cuenta</a></li>
				<li><a href="{% url 'account_signup' %}">Registrarte</a></li>				
				{% endif %}
		    </ul>
		</div>
		<div class="dropdown dropdown-icons padding-none">
			<a data-toggle="dropdown" href="#" class="btn btn-primary btn-circle dropdown-toggle"><i class="fa fa-user"></i> </a>
			<ul class="dropdown-menu">
				<li data-toggle="tooltip" data-title="Comparte en Facebook" data-placement="left" data-container="body"><a href=""><i class="fa fa-facebook-square blue"></i></a></li>
				<li data-toggle="tooltip" data-title="Comparte en Twitter" data-placement="left" data-container="body"><a href=""><i class="fa fa-twitter"></i></a></li>
				<li data-toggle="tooltip" data-title="Comparte en Google Plus" data-placement="left" data-container="body"><a href=""><i class="fa fa-google-plus-square"></i></a></li>
			</ul>
		</div>
	</div>	
	<div class="clearfix"></div>
</div>
<!-- // END navbar -->
<!-- END base header -->

{% block content %}
	
{% endblock content %}
				<!-- Footer -->
		<div id="footer" class="hidden-print">			
			<!--  Copyright Line -->
			<div class="copy">&copy; 2014 - <a href="">ClicknBees</a> - Todos los derechos reservados. 
		</div>
		<!-- // Footer END -->
		
				
	</div>
	<!-- // Main Container Fluid END -->
	

	<!-- Global -->
	<script data-id="App.Config">
	var basePath = '',
		commonPath = '../assets/',
		rootPath = '../',
		DEV = false,
		componentsPath = '../assets/components/',
		layoutApp = true,
		module = 'admin';
	
	var primaryColor = '#f9ac1d',
		dangerColor = '#b55151',
		successColor = '#609450',
		infoColor = '#4a8bc2',
		warningColor = '#ab7a4b',
		inverseColor = '#45484d';
	
	var themerPrimaryColor = primaryColor;
	</script>

	<script src="{% static 'assets/js/ajax.js' %}"></script>	
	<script src="{% static 'remake/assets/components/library/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'remake/assets/components/plugins/nicescroll/jquery.nicescroll.min.js' %}"></script>
	<!--<script src="{% static 'remake/assets/components/plugins/breakpoints/breakpoints.js' %}"></script>-->
	<script src="{% static 'remake/assets/components/plugins/preload/pace/pace.min.js' %}"></script>
	<script src="{% static 'remake/assets/components/core/js/preload.pace.init.js' %}"></script>
	<!--<script src="{% static 'remake/assets/components/common/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js' %}"></script>
	<script src="{% static 'remake/assets/components/common/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js' %}"></script> -->
	<!--<script src="{% static 'remake/assets/components/common/sliders/jqueryui-sliders/assets/custom/js/jqueryui-sliders.init.js' %}"></script>-->
	<script src="{% static 'remake/assets/components/core/js/sidebar.main.init.js' %}"></script>
	<script src="{% static 'remake/assets/components/core/js/sidebar.collapse.init.js' %}"></script>
	<script src="{% static 'remake/assets/components/core/js/sidebar.kis.init.js' %}"></script>
	<script src="{% static 'remake/assets/components/core/js/core.init.js' %}"></script>
	<script src="{% static 'remake/assets/components/core/js/animations.init.js' %}"></script>	

	<!-- Frontend packages -->
	<script type="text/javascript" src='{% static "js/vendor/underscore.js" %}'></script>
	<script type="text/javascript" src='{% static "js/vendor/backbone.js" %}'></script>
	<script type="text/javascript" src='{% static "js/vendor/backbone-tastypie.js" %}'></script>
</body>
</html>