{% extends "remake/base.html" %}

{% load staticfiles %}
{% load url from future %}

{% block content %}

			<div class="layout-app">

			<!-- row -->
<div class="row row-app">

	<!-- col -->
	<div class="col-md-12">

		<!-- col-separator -->
		<div class="col-separator col-separator-first col-unscrollable">
			
			<!-- col-table -->
			<div class="col-table">

				<!-- heading -->
				<div class="innerTB bg-container">
					<h3 class="pull-left margin-none innerR">Dependencias &nbsp;</h3>					
					<div class="clearfix"></div>
				</div>
				<div class="col-separator-h"></div>
				<!-- // END heading -->

				<!-- col-table-row -->
				<div class="col-table-row">

					<!-- col-app.col-unscrollable -->
					<div class="col-app col-unscrollable">

						<!-- col-app -->
						<div class="col-app">

							<!-- row -->
							<div class="row row-app">

								<!-- col -->
								<div class="col-md-9">

									<!-- col-separator -->
									<div class="col-separator">

										<!-- course -->
										{% for dependencia in dependencias %}
										<div class="media margin-none">
										  	<img src="{{dependencia.logotipo}}" class="pull-left" width="200" alt=""></a>
										  	<div class="media-body innerAll">
										    	<h2 class="media-heading innerT"><a href="" class="text-inverse">{{dependencia.nombre}}</a> <br>
										    	<span><i class="fa fa-fw fa-clock-o"></i> <b>Horario de atención: </b>{{dependencia.horario_atencion}}</span></h2>											
										    	<div class="col-sm-12">
										    		<div class="col-sm-6">
											    		<h4><b>Teléfono: {{dependencia.telefono}}</b></h4>
											    		<h4><b>Dirección: {{dependencia.direccion}}</b></h4>		
											    	</div>
											    	<div class="col-sm-6">
											    		<h4>Extensiones: {{dependencia.extensiones}}</h4>
											    		<h4>Ciudad: {{dependencia.ciudad}}</h4>
											    	</div>
											    	<div class="col-md-4 offset4">
											    		<h4>Redes: </h4> 
											    		{% if dependencia.facebook %}
											    			<a href="{{dependencia.facebook}}" target="blank">
											    				|f|
											    			</a>
											    		{% endif %}
											    		{% if dependencia.twitter %}
											    			<a href="{{dependencia.twitter}}" target="blank">
											    				|t|
											    			</a>
											    		{% endif %}
											    		{% if dependencia.youtube %}
											    			<a href="{{dependencia.youtube}}" target="blank">
											    				|y|
											    			</a>
											    		{% endif %}
											    		{% if dependencia.google %}
											    			<a href="{{dependencia.google}}" target="blank">
											    				|g|
											    			</a>
											    		{% endif %}
											    	</div>
										    	</div>										    	
										  	</div>
										</div>
										<!-- // END course -->
									
										<div class="col-separator-h"></div>
										{% endfor %}

									</div>
									<!-- // END col-separator -->

								</div>
								<!-- // END col -->

								<!-- col -->
								<div class="col-md-3">		

									<!-- col-separator -->
									<div class="col-separator col-separator-last">

										<h5 class="innerAll bg-primary margin-bottom-none">Dependencias:</h5>
										<ul class="list-group list-group-1 margin-none borders-none">
											<li class="list-group-item animated fadeInUp"><a href=""><i class="fa fa-exclamation-circle"></i> Salud</a></li>
											<li class="list-group-item animated fadeInUp"><a href=""><i class="fa fa-ticket"></i> Finanzas</a></li>
											<li class="list-group-item animated fadeInUp"><a href=""><i class="fa fa-spinner"></i> Obras Públicas</a></li>
											<li class="list-group-item border-bottom-none animated fadeInUp"><a href=""><i class="fa fa-pencil"></i> Trámites</a></li>
											<li class="list-group-item border-bottom-none animated fadeInUp"><a href=""><i class="icon-folder-fill"></i> Civiles</a></li>
										</ul>
												
										<div class="col-separator-h"></div>

										<h5 class="innerAll margin-none border-bottom text-primary">Emergencias</h5>
										
																				<a href="#" class="display-block media margin-none innerAll border-bottom">
									  		<img class="pull-left" data-src="holder.js/50x50" alt="..."/>
											<span class="display-block media-body innerB">
										    	<h5 class="innerT half">Cruz Roja</h5>
										    	<div class="clearfix"></div>	
											</span>
										</a>
																				<a href="#" class="display-block media margin-none innerAll border-bottom">
									  		<img class="pull-left" data-src="holder.js/50x50" alt="..."/>
											<span class="display-block media-body innerB">
										    	<h5 class="innerT half">Policía</h5>
										    	<div class="clearfix"></div>											
											</span>
										</a>
																				<a href="#" class="display-block media margin-none innerAll border-bottom">
									  		<img class="pull-left" data-src="holder.js/50x50" alt="..."/>
											<span class="display-block media-body innerB">
										    	<h5 class="innerT half">Bomberos</h5>
										    	<div class="clearfix"></div>											
											</span>
										</a>
																				<a href="#" class="display-block media margin-none innerAll border-bottom">
									  		<img class="pull-left" data-src="holder.js/50x50" alt="..."/>
											<span class="display-block media-body innerB">
										    	<h5 class="innerT half">Ambulancias</h5>
										    	<div class="clearfix"></div>											
											</span>
										</a>
										
									</div>
									<!-- // END col-separator -->

								</div>
								<!-- // END col -->

							</div>
							<!-- // END row -->

						</div>
						<!-- // END col-app -->

					</div>
					<!-- // END col-app.col-unscrollable -->

				</div>
				<!-- // END col-table-row -->

			</div>
			<!-- // END col-table -->

		</div>
		<!-- // END col-separator -->

	</div>
	<!-- // END col -->

</div>
<!-- // END row -->


	
		
		
		</div>
		</div>
		<!-- // Content END -->
		
		<div class="clearfix"></div>
		<!-- // Sidebar menu & content wrapper END -->
		
{% endblock content %}