{% load staticfiles %}
{% load url from future %}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7 app sidebar sidebar-fusion sidebar-kis footer-sticky navbar-sticky"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8 app sidebar sidebar-fusion sidebar-kis footer-sticky navbar-sticky"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9 app sidebar sidebar-fusion sidebar-kis footer-sticky navbar-sticky"> <![endif]-->
<!--[if gt IE 8]> <html class="ie app sidebar sidebar-fusion sidebar-kis footer-sticky navbar-sticky"> <![endif]-->
<!--[if !IE]><!--><html class="app sidebar sidebar-fusion sidebar-kis footer-sticky navbar-sticky"><!-- <![endif]-->
<head>
	<title>Click n Bees</title>
	
	<!-- Meta -->
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	
	<!-- 
	**********************************************************
	In development, use the LESS files and the less.js compiler
	instead of the minified CSS loaded by default.
	**********************************************************
	<link rel="stylesheet/less" href="../assets/less/admin/module.admin.stylesheet-complete.sidebar_type.fusion.less" />
	-->

		<!--[if lt IE 9]><link rel="stylesheet" href="../assets/components/library/bootstrap/css/bootstrap.min.css" /><![endif]-->
	<link rel="stylesheet" href='{% static "remake/assets/less/mobile-green.css" %}' />
	
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

	<script src="{% static 'remake/assets/components/library/jquery/jquery.min.js' %}"></script>
<script src="{% static 'remake/assets/components/library/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'remake/assets/components/library/modernizr/modernizr.js' %}"></script>
<script src="{% static 'remake/assets/components/plugins/less-js/less.min.js' %}"></script>
<script src="{% static 'remake/assets/components/modules/admin/charts/flot/assets/lib/excanvas.js' %}"></script>
<script src="{% static 'remake/assets/components/plugins/browser/ie/ie.prototype.polyfill.js' %}"></script>
<script src="{% static 'remake/assets/components/library/jquery-ui/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'remake/assets/components/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js' %}"></script>	<script>if (/*@cc_on!@*/false && document.documentMode === 10) { document.documentElement.className+=' ie ie10'; }</script>
	
</head>
<body class=" menu-right-hidden">
	
	<!-- Main Container Fluid -->
	<div class="container-fluid menu-hidden">

				<!-- Main Sidebar Menu -->
		<div id="menu" class="hidden-print hidden-xs sidebar-blue sidebar-brand-primary">

			<div id="sidebar-discover-wrapper">
	<div id="logoWrapper">
		<a href="{% url 'index' %}" class="animated fadeInDown"><img src="{% static 'assets/images/logo.png' %}" width="150" style="margin-left: 6ex;" alt=""></a>		
	</div>
	<ul class="list-unstyled">
	
<li><a href="#"><i class="fa fa-file-text"></i><span>Categorías</span></a></li>
<li><a href="#"><i class="fa fa-file-text-o"></i><span>Funcionalidad</span></a></li>
<li class="active"><a href="#"><i class="fa fa-search"></i><span>Preguntas</span></a></li>
<li><a href="#"><i class="fa fa-question-circle"></i><span>ClickNBees</span></a></li>
<li class="reset">
	<div class="innerAll text-center">
		<div class="btn btn-inverse"><a href="/accounts/signup">REGISTRA <br> TU EMPRESA <br> GRATIS <i class="fa fa-fw fa-pencil text-primary"></i></a></div>
	</div>
</li>
	</ul>
</div>
		</div>
		<!-- // Main Sidebar Menu END -->
		
				<!-- Main Sidebar Menu -->
		<div id="menu_kis" class="hidden-print sidebar-light">

			<div>
	<ul class="list-unstyled">

		<li><a href="index.html?lang=en" class="glyphicons globe"><i></i><span>Social</span></a></li>

<li><a href="realestate_listing_map.html?lang=en" class="glyphicons home"><i></i> Estate</a></li>

<li><a href="events.html?lang=en" class="glyphicons google_maps"><i></i> Events</a></li>

<li class="active"><a href="news.html?lang=en" class="glyphicons notes"><i></i> Content</a></li>

<li><a href="gallery_video.html?lang=en" class="glyphicons picture"><i></i><span>Media</span></a></li>

<li><a href="tasks.html?lang=en" class="glyphicons share_alt"><i></i><span>Tasks</span></a></li>

<li><a href="support_tickets.html?lang=en" class="glyphicons life_preserver"><i></i><span>Support</span></a></li>

<li><a href="medical_overview.html?lang=en" class="glyphicons circle_plus"><i></i><span>Medical</span></a></li>

<li><a href="courses_2.html?lang=en" class="glyphicons crown"><i></i> Learning</a></li>

<li><a href="finances.html?lang=en" class="glyphicons calculator"><i></i> Finance</a></li>

<li><a href="shop_products.html?lang=en" class="glyphicons shopping_cart"><i></i><span>Shop</span></a></li>

<li><a href="survey.html?lang=en" class="glyphicons turtle no-ajaxify"><i></i><span>Surveys</span></a></li>

<li><a href="dashboard_analytics.html?lang=en" class="glyphicons plus"><i></i><span>Other</span></a></li>

<li><a href="../front/index.html?lang=en" class="glyphicons leather" target="_blank"><i></i><span>Website</span></a></li>		
	</ul>
</div>


			
		</div>
		<!-- // Main Sidebar Menu END -->
				
		<!-- Content -->
		<div id="content">

						
				<div class="navbar hidden-print navbar-primary main" role="navigation">
	<div class="user-action user-action-btn-navbar pull-left border-right">
		<button class="btn btn-sm btn-navbar btn-primary btn-stroke"><i class="fa fa-bars fa-2x"></i></button>
	</div>
	<div class="col-md-3 padding-none visible-md visible-lg">
    	<div class="input-group innerLR">
      		<input type="text" class="form-control input-sm" placeholder="Search stories ...">
      		<span class="input-group-btn">
        		<button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
      		</span>
    	</div><!-- /input-group -->
  	</div>

  	<div class="user-action visible-xs user-action-btn-navbar pull-right">
		<button class="btn btn-sm btn-navbar-right btn-primary"><i class="fa fa-fw fa-arrow-right"></i><span class="menu-left-hidden-xs"> Modules</span></button>
	</div>
	<div class="user-action pull-right menu-right-hidden-xs menu-left-hidden-xs">
		<div class="dropdown username hidden-xs pull-left">
			<a class="dropdown-toggle " data-toggle="dropdown" href="#">
				<span class="media margin-none">
					<span class="pull-left"><img src="../assets/images/people/35/16.jpg" alt="user" class="img-circle"></span>
					<span class="media-body">
						Adrian Demian <span class="caret"></span> 
					</span>
				</span>
			</a>
			<ul class="dropdown-menu pull-right">
				<li><a href="index.html?lang=en" class="glyphicons user"><i></i> Profile</a></li>
				<li><a href="timeline.html?lang=en" class="glyphicons list"><i></i>Timeline</a></li>
				<li><a href="social_messages.html?lang=en" class="glyphicons envelope"><i></i>Messages</a></li>
				<li><a href="social_account.html?lang=en">Settings</a></li>
				<li><a href="login.html?lang=en">Logout</a></li>
		    </ul>
		</div>
		<div class="dropdown dropdown-icons padding-none">
			<a data-toggle="dropdown" href="#" class="btn btn-primary btn-circle dropdown-toggle"><i class="fa fa-user"></i> </a>
			<ul class="dropdown-menu">
				<li data-toggle="tooltip" data-title="Photo Gallery" data-placement="left" data-container="body"><a href="gallery_photo.html?lang=en"><i class="fa fa-camera"></i></a></li>
				<li data-toggle="tooltip" data-title="Tasks" data-placement="left" data-container="body"><a href="tasks.html?lang=en"><i class="fa fa-code-fork"></i></a></li>
				<li data-toggle="tooltip" data-title="Employees" data-placement="left" data-container="body"><a href="employees.html?lang=en"><i class="fa fa-group"></i></a></li>
				<li data-toggle="tooltip" data-title="Contacts" data-placement="left" data-container="body"><a href="contacts.html?lang=en"><i class="fa fa-phone-square"></i></a></li>
			</ul>
		</div>
	</div>
	<ul class="notifications pull-right hidden-xs">
		<li class="dropdown notif">
			<a href="" class="dropdown-toggle"  data-toggle="dropdown"><i class="notif-block fa fa-comments-o"></i><span class="badge badge-primary">7</span></a>
			<ul class="dropdown-menu chat media-list">
				<li class="media">
			        <a class="pull-left" href="#"><img class="media-object thumb" src="../assets/images/people/100/15.jpg" alt="50x50" width="50"/></a>
					<div class="media-body">
			        	<span class="label label-default pull-right">5 min</span>
			            <h5 class="media-heading">Adrian D.</h5>
			            <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			        </div>
				</li>
		      	<li class="media">
		          	<a class="pull-left" href="#"><img class="media-object thumb" src="../assets/images/people/100/16.jpg" alt="50x50" width="50"/></a>
					<div class="media-body">
			          	<span class="label label-default pull-right">2 days</span>
			            <h5 class="media-heading">Jane B.</h5>
			            <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			        </div>
		        </li>
			    <li class="media">
		          	<a class="pull-left" href="#"><img class="media-object thumb" src="../assets/images/people/100/17.jpg" alt="50x50" width="50"/></a>
			      	<div class="media-body">
						<span class="label label-default pull-right">3 days</span>
			            <h5 class="media-heading">Andrew M.</h5>
			            <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			        </div>
		        </li>
		        <li><a href="#" class="btn btn-primary"><i class="fa fa-list"></i> <span>View all messages</span></a></li>
	      </ul>
		</li>
	</ul>
	<div class="clearfix"></div>
</div>
<!-- // END navbar -->





						
			<div id="menu-top">
		<ul class="main pull-left">
		<li class="dropdown">
			<a data-toggle="dropdown" class="dropdown-toggle" href=""><i class="fa fa-fw fa-cog"></i> Layout <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="?module=admin&page=news&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&layout_fixed=true" class="no-ajaxify">Fixed Layout with Top menu</a></li>
				<li class="active"><a href="?module=admin&page=news&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&layout_fixed=false" class="no-ajaxify">Fluid Layout with Sidebars</a></li>
				<li><a href="layout/layout-fixed-menu-top.html?lang=en" class="no-ajaxify">Layout examples</a></li>
		    </ul>
		</li>
		<li class="dropdown">
			<a data-toggle="dropdown" class="dropdown-toggle" href=""><i class="fa fa-fw fa-suitcase"></i> UI KIT <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="ui.html?lang=en">UI Elements</a></li>
				<li><a href="icons.html?lang=en">Icons</a></li>
				<li><a href="typography.html?lang=en">Typography</a></li>
				<li><a href="widgets.html?lang=en">Widgets</a></li>
				<li><a href="calendar.html?lang=en">Calendar</a></li>
				<li><a href="tabs.html?lang=en">Tabs</a></li>
				<li><a href="sliders.html?lang=en">Sliders</a></li>
				<li><a href="charts.html?lang=en">Charts</a></li>
				<li><a href="grid.html?lang=en">Grid</a></li>
				<li><a href="notifications.html?lang=en">Notifications</a></li>
				<li><a href="modals.html?lang=en">Modals</a></li>
				<li><a href="thumbnails.html?lang=en">Thumbnails</a></li>
				<li><a href="carousels.html?lang=en">Carousels</a></li>
				<li><a href="image_crop.html?lang=en">Image Cropping</a></li>
				<li><a href="twitter.html?lang=en">Twitter API</a></li>
				<li><a href="infinite_scroll.html?lang=en">Infinite Scroll</a></li>
		    </ul>
		</li>
		<li class="dropdown">
			<a data-toggle="dropdown" class="dropdown-toggle" href=""><i class="fa fa-fw fa-check-square-o"></i> Forms <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="form_wizards.html?lang=en">Form Wizards</a></li>
				<li><a href="form_elements.html?lang=en">Form Elements</a></li>
				<li><a href="form_validator.html?lang=en">Form Validator</a></li>
				<li><a href="file_managers.html?lang=en">File Managers</a></li>
		    </ul>
		</li>
		<li class="dropdown hidden-xs">
			<a data-toggle="dropdown" class="dropdown-toggle" href=""><i class="fa fa-fw fa-table"></i> Tables <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="tables.html?lang=en">Tables</a></li>
				<li><a href="tables_responsive.html?lang=en">Responsive Tables</a></li>
				<li><a href="pricing_tables.html?lang=en">Pricing Tables</a></li>
		    </ul>
		</li>
	</ul>
	<ul class="main pull-right visible-lg">
		<li><a href="">Close <i class="fa fa-fw fa-times"></i></a></li>
	</ul>
	<ul class="colors pull-right hidden-xs">
		
				<li class="active"><a href="?module=admin&page=news&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=style-default" style="background-color: #eb6a5a" class="no-ajaxify"><span class="hide">style-default</span></a></li>
				<li><a href="?module=admin&page=news&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=green" style="background-color: #87c844" class="no-ajaxify"><span class="hide">green</span></a></li>
				<li><a href="?module=admin&page=news&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=coral" style="background-color: #7eccc2" class="no-ajaxify"><span class="hide">coral</span></a></li>
		
		<li class="dropdown">
			<a href="" data-toggle="dropdown" class="dropdown-toggle">
				<span class="color inverse"></span>
				<span class="color danger"></span>
				<span class="color success"></span>
				<span class="color info"></span>
			</a>
			<ul class="dropdown-menu pull-right">
								<li><a href="?module=admin&page=news&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=alizarin-crimson" class="no-ajaxify"><span class="color" style="background-color: #F06F6F"></span> alizarin-crimson</a></li>
								<li><a href="?module=admin&page=news&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=blue-gray" class="no-ajaxify"><span class="color" style="background-color: #7293CF"></span> blue-gray</a></li>
								<li><a href="?module=admin&page=news&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=brown" class="no-ajaxify"><span class="color" style="background-color: #d39174"></span> brown</a></li>
								<li><a href="?module=admin&page=news&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=purple-gray" class="no-ajaxify"><span class="color" style="background-color: #AF86B9"></span> purple-gray</a></li>
								<li><a href="?module=admin&page=news&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=purple-wine" class="no-ajaxify"><span class="color" style="background-color: #CC6788"></span> purple-wine</a></li>
								<li><a href="?module=admin&page=news&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=green-army" class="no-ajaxify"><span class="color" style="background-color: #9FB478"></span> green-army</a></li>
								<li><a href="?module=admin&page=news&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=black-and-white" class="no-ajaxify"><span class="color" style="background-color: #979797"></span> black-and-white</a></li>
								<li><a href="?module=admin&page=news&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=amazon" class="no-ajaxify"><span class="color" style="background-color: #8BC4B9"></span> amazon</a></li>
								<li><a href="?module=admin&page=news&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=amber" class="no-ajaxify"><span class="color" style="background-color: #CACA8A"></span> amber</a></li>
								<li><a href="?module=admin&page=news&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=android-green" class="no-ajaxify"><span class="color" style="background-color: #A9C784"></span> android-green</a></li>
								<li><a href="?module=admin&page=news&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=antique-brass" class="no-ajaxify"><span class="color" style="background-color: #B3998A"></span> antique-brass</a></li>
								<li><a href="?module=admin&page=news&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=antique-bronze" class="no-ajaxify"><span class="color" style="background-color: #8D8D6E"></span> antique-bronze</a></li>
								<li><a href="?module=admin&page=news&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=artichoke" class="no-ajaxify"><span class="color" style="background-color: #B0B69D"></span> artichoke</a></li>
								<li><a href="?module=admin&page=news&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=atomic-tangerine" class="no-ajaxify"><span class="color" style="background-color: #F19B69"></span> atomic-tangerine</a></li>
								<li><a href="?module=admin&page=news&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=bazaar" class="no-ajaxify"><span class="color" style="background-color: #98777B"></span> bazaar</a></li>
								<li><a href="?module=admin&page=news&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=bistre-brown" class="no-ajaxify"><span class="color" style="background-color: #C3A961"></span> bistre-brown</a></li>
								<li><a href="?module=admin&page=news&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=bittersweet" class="no-ajaxify"><span class="color" style="background-color: #d6725e"></span> bittersweet</a></li>
								<li><a href="?module=admin&page=news&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=blueberry" class="no-ajaxify"><span class="color" style="background-color: #7789D1"></span> blueberry</a></li>
								<li><a href="?module=admin&page=news&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=bud-green" class="no-ajaxify"><span class="color" style="background-color: #6fa362"></span> bud-green</a></li>
								<li><a href="?module=admin&page=news&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=burnt-sienna" class="no-ajaxify"><span class="color" style="background-color: #E4968A"></span> burnt-sienna</a></li>
							</ul>
		</li>
	</ul>
	</div>


			<div class="layout-app">

			<!-- row-app -->
<div class="row row-app">
	
	<!-- col -->
	<div class="col-md-12">

		<!-- col-separator.box -->
		<div class="col-separator col-separator-first box bg-none">

			<div class="col-table">

				<!-- <div class="bg-white">
					<div class="row">
						<div class="col-md-4">
							<h4 class="innerAll margin-none">News</h4>
						</div>
						<div class="col-md-8">
							<div class="tabsbar tabsbar-2 bg-gray margin-none">
								<ul class="row row-merge">
									<li class="col-md-6 active"><a href="#tab1-4" data-toggle="tab"><i class="fa fa-fw fa-file-text-o"></i> Latest news</a></li>
									<li class="col-md-6"><a href="#tab2-4" data-toggle="tab"><i class="fa fa-fw fa-file-text-o"></i> <span>Announcements</span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div> -->

				<div class="innerTB">
					<h3 class="pull-left margin-none">News &nbsp;<i class="fa fa-fw text-primary icon-refresh-star-fill"></i> <i class="fa fa-fw text-muted icon-refresh-star-fill"></i></h3>
					<div class="btn-group btn-group-sm pull-right">
						<a href="" class="btn btn-primary"><i class="fa fa-th"></i></a>
						<a href="" class="btn btn-default"><i class="fa fa-list"></i></a>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-separator-h"></div>

				<div class="col-table-row">
					<div class="col-app col-unscrollable bg-none">
						<div class="col-app">
							
							<div id="news-featured-2" class="owl-carousel owl-theme">

		<div class="item">
		<div class="box-generic padding-none margin-none overflow-hidden">
			<div class="relativeWrap overflow-hidden" data-height="175px">
				<img src="../assets/images/photodune-6326648-signed-contract-xs.jpg" alt="" class="img-responsive padding-none border-none" />
				<div class="fixed-bottom bg-inverse-faded">
					<div class="media margin-none innerAll">
						<a href="" class="pull-left"><img src="../assets/images/people/35/6.jpg" alt="" /></a>
						<div class="media-body text-white">
							by <strong>Ewan Shelah</strong>
							<p class="text-small margin-none"><i class="fa fa-fw fa-clock-o"></i> 2 hours ago</p>
						</div>
					</div>
				</div>
			</div>
			<div class="innerAll inner-2x border-bottom">
				<h4>Getting the job done</h4>
				<p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, magnam necessitatibus libero eaque dolore.</p>
			</div>
			<div class="row row-merge">
				<div class="col-md-6">
					<a href="" class="innerAll text-center display-block text-muted"><i class="fa fa-fw icon-comment-fill-1"></i> 646</a>
				</div>
				<div class="col-md-6">
					<a href="" class="innerAll text-center display-block text-muted"><i class="fa fa-fw icon-star-fill"></i> 73</a>
				</div>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="box-generic padding-none margin-none overflow-hidden">
			<div class="relativeWrap overflow-hidden" data-height="175px">
				<img src="../assets/images/photodune-6326650-pointing-at-document-xs.jpg" alt="" class="img-responsive padding-none border-none" />
				<div class="fixed-bottom bg-inverse-faded">
					<div class="media margin-none innerAll">
						<a href="" class="pull-left"><img src="../assets/images/people/35/7.jpg" alt="" /></a>
						<div class="media-body text-white">
							by <strong>Ewan Shelah</strong>
							<p class="text-small margin-none"><i class="fa fa-fw fa-clock-o"></i> 2 hours ago</p>
						</div>
					</div>
				</div>
			</div>
			<div class="innerAll inner-2x border-bottom">
				<h4>UX The Right Way</h4>
				<p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, magnam necessitatibus libero eaque dolore.</p>
			</div>
			<div class="row row-merge">
				<div class="col-md-6">
					<a href="" class="innerAll text-center display-block text-muted"><i class="fa fa-fw icon-comment-fill-1"></i> 689</a>
				</div>
				<div class="col-md-6">
					<a href="" class="innerAll text-center display-block text-muted"><i class="fa fa-fw icon-star-fill"></i> 96</a>
				</div>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="box-generic padding-none margin-none overflow-hidden">
			<div class="relativeWrap overflow-hidden" data-height="175px">
				<img src="../assets/images/photodune-6374559-laboratory-tubes-xs.jpg" alt="" class="img-responsive padding-none border-none" />
				<div class="fixed-bottom bg-inverse-faded">
					<div class="media margin-none innerAll">
						<a href="" class="pull-left"><img src="../assets/images/people/35/8.jpg" alt="" /></a>
						<div class="media-body text-white">
							by <strong>Ewan Shelah</strong>
							<p class="text-small margin-none"><i class="fa fa-fw fa-clock-o"></i> 2 hours ago</p>
						</div>
					</div>
				</div>
			</div>
			<div class="innerAll inner-2x border-bottom">
				<h4>Dexter's Real Laboratory</h4>
				<p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, magnam necessitatibus libero eaque dolore.</p>
			</div>
			<div class="row row-merge">
				<div class="col-md-6">
					<a href="" class="innerAll text-center display-block text-muted"><i class="fa fa-fw icon-comment-fill-1"></i> 580</a>
				</div>
				<div class="col-md-6">
					<a href="" class="innerAll text-center display-block text-muted"><i class="fa fa-fw icon-star-fill"></i> 67</a>
				</div>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="box-generic padding-none margin-none overflow-hidden">
			<div class="relativeWrap overflow-hidden" data-height="175px">
				<img src="../assets/images/photodune-6374531-at-celebration-xs.jpg" alt="" class="img-responsive padding-none border-none" />
				<div class="fixed-bottom bg-inverse-faded">
					<div class="media margin-none innerAll">
						<a href="" class="pull-left"><img src="../assets/images/people/35/9.jpg" alt="" /></a>
						<div class="media-body text-white">
							by <strong>Ewan Shelah</strong>
							<p class="text-small margin-none"><i class="fa fa-fw fa-clock-o"></i> 2 hours ago</p>
						</div>
					</div>
				</div>
			</div>
			<div class="innerAll inner-2x border-bottom">
				<h4>Like there's no tomorrow</h4>
				<p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, magnam necessitatibus libero eaque dolore.</p>
			</div>
			<div class="row row-merge">
				<div class="col-md-6">
					<a href="" class="innerAll text-center display-block text-muted"><i class="fa fa-fw icon-comment-fill-1"></i> 538</a>
				</div>
				<div class="col-md-6">
					<a href="" class="innerAll text-center display-block text-muted"><i class="fa fa-fw icon-star-fill"></i> 105</a>
				</div>
			</div>
		</div>
	</div>
		<div class="item">
		<div class="box-generic padding-none margin-none overflow-hidden">
			<div class="relativeWrap overflow-hidden" data-height="175px">
				<img src="../assets/images/photodune-6326648-signed-contract-xs.jpg" alt="" class="img-responsive padding-none border-none" />
				<div class="fixed-bottom bg-inverse-faded">
					<div class="media margin-none innerAll">
						<a href="" class="pull-left"><img src="../assets/images/people/35/6.jpg" alt="" /></a>
						<div class="media-body text-white">
							by <strong>Ewan Shelah</strong>
							<p class="text-small margin-none"><i class="fa fa-fw fa-clock-o"></i> 2 hours ago</p>
						</div>
					</div>
				</div>
			</div>
			<div class="innerAll inner-2x border-bottom">
				<h4>Getting the job done</h4>
				<p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, magnam necessitatibus libero eaque dolore.</p>
			</div>
			<div class="row row-merge">
				<div class="col-md-6">
					<a href="" class="innerAll text-center display-block text-muted"><i class="fa fa-fw icon-comment-fill-1"></i> 426</a>
				</div>
				<div class="col-md-6">
					<a href="" class="innerAll text-center display-block text-muted"><i class="fa fa-fw icon-star-fill"></i> 56</a>
				</div>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="box-generic padding-none margin-none overflow-hidden">
			<div class="relativeWrap overflow-hidden" data-height="175px">
				<img src="../assets/images/photodune-6326650-pointing-at-document-xs.jpg" alt="" class="img-responsive padding-none border-none" />
				<div class="fixed-bottom bg-inverse-faded">
					<div class="media margin-none innerAll">
						<a href="" class="pull-left"><img src="../assets/images/people/35/7.jpg" alt="" /></a>
						<div class="media-body text-white">
							by <strong>Ewan Shelah</strong>
							<p class="text-small margin-none"><i class="fa fa-fw fa-clock-o"></i> 2 hours ago</p>
						</div>
					</div>
				</div>
			</div>
			<div class="innerAll inner-2x border-bottom">
				<h4>UX The Right Way</h4>
				<p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, magnam necessitatibus libero eaque dolore.</p>
			</div>
			<div class="row row-merge">
				<div class="col-md-6">
					<a href="" class="innerAll text-center display-block text-muted"><i class="fa fa-fw icon-comment-fill-1"></i> 272</a>
				</div>
				<div class="col-md-6">
					<a href="" class="innerAll text-center display-block text-muted"><i class="fa fa-fw icon-star-fill"></i> 106</a>
				</div>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="box-generic padding-none margin-none overflow-hidden">
			<div class="relativeWrap overflow-hidden" data-height="175px">
				<img src="../assets/images/photodune-6374559-laboratory-tubes-xs.jpg" alt="" class="img-responsive padding-none border-none" />
				<div class="fixed-bottom bg-inverse-faded">
					<div class="media margin-none innerAll">
						<a href="" class="pull-left"><img src="../assets/images/people/35/8.jpg" alt="" /></a>
						<div class="media-body text-white">
							by <strong>Ewan Shelah</strong>
							<p class="text-small margin-none"><i class="fa fa-fw fa-clock-o"></i> 2 hours ago</p>
						</div>
					</div>
				</div>
			</div>
			<div class="innerAll inner-2x border-bottom">
				<h4>Dexter's Real Laboratory</h4>
				<p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, magnam necessitatibus libero eaque dolore.</p>
			</div>
			<div class="row row-merge">
				<div class="col-md-6">
					<a href="" class="innerAll text-center display-block text-muted"><i class="fa fa-fw icon-comment-fill-1"></i> 431</a>
				</div>
				<div class="col-md-6">
					<a href="" class="innerAll text-center display-block text-muted"><i class="fa fa-fw icon-star-fill"></i> 93</a>
				</div>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="box-generic padding-none margin-none overflow-hidden">
			<div class="relativeWrap overflow-hidden" data-height="175px">
				<img src="../assets/images/photodune-6374531-at-celebration-xs.jpg" alt="" class="img-responsive padding-none border-none" />
				<div class="fixed-bottom bg-inverse-faded">
					<div class="media margin-none innerAll">
						<a href="" class="pull-left"><img src="../assets/images/people/35/9.jpg" alt="" /></a>
						<div class="media-body text-white">
							by <strong>Ewan Shelah</strong>
							<p class="text-small margin-none"><i class="fa fa-fw fa-clock-o"></i> 2 hours ago</p>
						</div>
					</div>
				</div>
			</div>
			<div class="innerAll inner-2x border-bottom">
				<h4>Like there's no tomorrow</h4>
				<p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, magnam necessitatibus libero eaque dolore.</p>
			</div>
			<div class="row row-merge">
				<div class="col-md-6">
					<a href="" class="innerAll text-center display-block text-muted"><i class="fa fa-fw icon-comment-fill-1"></i> 579</a>
				</div>
				<div class="col-md-6">
					<a href="" class="innerAll text-center display-block text-muted"><i class="fa fa-fw icon-star-fill"></i> 63</a>
				</div>
			</div>
		</div>
	</div>
		<div class="item">
		<div class="box-generic padding-none margin-none overflow-hidden">
			<div class="relativeWrap overflow-hidden" data-height="175px">
				<img src="../assets/images/photodune-6326648-signed-contract-xs.jpg" alt="" class="img-responsive padding-none border-none" />
				<div class="fixed-bottom bg-inverse-faded">
					<div class="media margin-none innerAll">
						<a href="" class="pull-left"><img src="../assets/images/people/35/6.jpg" alt="" /></a>
						<div class="media-body text-white">
							by <strong>Ewan Shelah</strong>
							<p class="text-small margin-none"><i class="fa fa-fw fa-clock-o"></i> 2 hours ago</p>
						</div>
					</div>
				</div>
			</div>
			<div class="innerAll inner-2x border-bottom">
				<h4>Getting the job done</h4>
				<p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, magnam necessitatibus libero eaque dolore.</p>
			</div>
			<div class="row row-merge">
				<div class="col-md-6">
					<a href="" class="innerAll text-center display-block text-muted"><i class="fa fa-fw icon-comment-fill-1"></i> 469</a>
				</div>
				<div class="col-md-6">
					<a href="" class="innerAll text-center display-block text-muted"><i class="fa fa-fw icon-star-fill"></i> 95</a>
				</div>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="box-generic padding-none margin-none overflow-hidden">
			<div class="relativeWrap overflow-hidden" data-height="175px">
				<img src="../assets/images/photodune-6326650-pointing-at-document-xs.jpg" alt="" class="img-responsive padding-none border-none" />
				<div class="fixed-bottom bg-inverse-faded">
					<div class="media margin-none innerAll">
						<a href="" class="pull-left"><img src="../assets/images/people/35/7.jpg" alt="" /></a>
						<div class="media-body text-white">
							by <strong>Ewan Shelah</strong>
							<p class="text-small margin-none"><i class="fa fa-fw fa-clock-o"></i> 2 hours ago</p>
						</div>
					</div>
				</div>
			</div>
			<div class="innerAll inner-2x border-bottom">
				<h4>UX The Right Way</h4>
				<p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, magnam necessitatibus libero eaque dolore.</p>
			</div>
			<div class="row row-merge">
				<div class="col-md-6">
					<a href="" class="innerAll text-center display-block text-muted"><i class="fa fa-fw icon-comment-fill-1"></i> 428</a>
				</div>
				<div class="col-md-6">
					<a href="" class="innerAll text-center display-block text-muted"><i class="fa fa-fw icon-star-fill"></i> 102</a>
				</div>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="box-generic padding-none margin-none overflow-hidden">
			<div class="relativeWrap overflow-hidden" data-height="175px">
				<img src="../assets/images/photodune-6374559-laboratory-tubes-xs.jpg" alt="" class="img-responsive padding-none border-none" />
				<div class="fixed-bottom bg-inverse-faded">
					<div class="media margin-none innerAll">
						<a href="" class="pull-left"><img src="../assets/images/people/35/8.jpg" alt="" /></a>
						<div class="media-body text-white">
							by <strong>Ewan Shelah</strong>
							<p class="text-small margin-none"><i class="fa fa-fw fa-clock-o"></i> 2 hours ago</p>
						</div>
					</div>
				</div>
			</div>
			<div class="innerAll inner-2x border-bottom">
				<h4>Dexter's Real Laboratory</h4>
				<p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, magnam necessitatibus libero eaque dolore.</p>
			</div>
			<div class="row row-merge">
				<div class="col-md-6">
					<a href="" class="innerAll text-center display-block text-muted"><i class="fa fa-fw icon-comment-fill-1"></i> 506</a>
				</div>
				<div class="col-md-6">
					<a href="" class="innerAll text-center display-block text-muted"><i class="fa fa-fw icon-star-fill"></i> 92</a>
				</div>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="box-generic padding-none margin-none overflow-hidden">
			<div class="relativeWrap overflow-hidden" data-height="175px">
				<img src="../assets/images/photodune-6374531-at-celebration-xs.jpg" alt="" class="img-responsive padding-none border-none" />
				<div class="fixed-bottom bg-inverse-faded">
					<div class="media margin-none innerAll">
						<a href="" class="pull-left"><img src="../assets/images/people/35/9.jpg" alt="" /></a>
						<div class="media-body text-white">
							by <strong>Ewan Shelah</strong>
							<p class="text-small margin-none"><i class="fa fa-fw fa-clock-o"></i> 2 hours ago</p>
						</div>
					</div>
				</div>
			</div>
			<div class="innerAll inner-2x border-bottom">
				<h4>Like there's no tomorrow</h4>
				<p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, magnam necessitatibus libero eaque dolore.</p>
			</div>
			<div class="row row-merge">
				<div class="col-md-6">
					<a href="" class="innerAll text-center display-block text-muted"><i class="fa fa-fw icon-comment-fill-1"></i> 556</a>
				</div>
				<div class="col-md-6">
					<a href="" class="innerAll text-center display-block text-muted"><i class="fa fa-fw icon-star-fill"></i> 63</a>
				</div>
			</div>
		</div>
	</div>
	</div>







						</div>
					</div>
				</div>
				
				<div class="col-separator-h box"></div>

				<div id="news-featured-1" class="owl-carousel owl-theme">
		<div class="item">
		<div class="row row-merge bg-gray">
			<div class="col-md-4">
				<div class="innerAll inner-2x">
					<h4><a href="" class="text-primary">Best of Web Design in 2013</a></h4>
					<p class="text-muted">30/12/2013</p>
					<p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, est, iste similique eius perspiciatis expedita exercitationem. Commodi, numquam repellendus neque adipisci cumque dicta rem. Tempore, tempora beatae unde ducimus. Blanditiis?</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="innerAll inner-2x">
					<h4><a href="" class="text-primary">Best of Web Design in 2013</a></h4>
					<p class="text-muted">30/12/2013</p>
					<p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, voluptatum, distinctio eius aliquam sed ad consequatur debitis commodi at architecto est itaque laudantium sint tempora inventore alias qui libero accusantium?</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="innerAll inner-2x">
					<h4><a href="" class="text-primary">Best of Web Design in 2013</a></h4>
					<p class="text-muted">30/12/2013</p>
					<p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, est, iste similique eius perspiciatis expedita exercitationem. Commodi, numquam repellendus neque adipisci cumque dicta rem. Tempore, tempora beatae unde ducimus. Blanditiis?</p>
				</div>
			</div>
		</div>
	</div>
		<div class="item">
		<div class="row row-merge bg-gray">
			<div class="col-md-4">
				<div class="innerAll inner-2x">
					<h4><a href="" class="text-primary">Best of Web Design in 2013</a></h4>
					<p class="text-muted">30/12/2013</p>
					<p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, est, iste similique eius perspiciatis expedita exercitationem. Commodi, numquam repellendus neque adipisci cumque dicta rem. Tempore, tempora beatae unde ducimus. Blanditiis?</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="innerAll inner-2x">
					<h4><a href="" class="text-primary">Best of Web Design in 2013</a></h4>
					<p class="text-muted">30/12/2013</p>
					<p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, voluptatum, distinctio eius aliquam sed ad consequatur debitis commodi at architecto est itaque laudantium sint tempora inventore alias qui libero accusantium?</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="innerAll inner-2x">
					<h4><a href="" class="text-primary">Best of Web Design in 2013</a></h4>
					<p class="text-muted">30/12/2013</p>
					<p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, est, iste similique eius perspiciatis expedita exercitationem. Commodi, numquam repellendus neque adipisci cumque dicta rem. Tempore, tempora beatae unde ducimus. Blanditiis?</p>
				</div>
			</div>
		</div>
	</div>
		<div class="item">
		<div class="row row-merge bg-gray">
			<div class="col-md-4">
				<div class="innerAll inner-2x">
					<h4><a href="" class="text-primary">Best of Web Design in 2013</a></h4>
					<p class="text-muted">30/12/2013</p>
					<p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, est, iste similique eius perspiciatis expedita exercitationem. Commodi, numquam repellendus neque adipisci cumque dicta rem. Tempore, tempora beatae unde ducimus. Blanditiis?</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="innerAll inner-2x">
					<h4><a href="" class="text-primary">Best of Web Design in 2013</a></h4>
					<p class="text-muted">30/12/2013</p>
					<p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, voluptatum, distinctio eius aliquam sed ad consequatur debitis commodi at architecto est itaque laudantium sint tempora inventore alias qui libero accusantium?</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="innerAll inner-2x">
					<h4><a href="" class="text-primary">Best of Web Design in 2013</a></h4>
					<p class="text-muted">30/12/2013</p>
					<p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, est, iste similique eius perspiciatis expedita exercitationem. Commodi, numquam repellendus neque adipisci cumque dicta rem. Tempore, tempora beatae unde ducimus. Blanditiis?</p>
				</div>
			</div>
		</div>
	</div>
	</div>







				<div class="col-separator-h"></div>

				<div class="row">
					<div class="col-md-8">
						<div class="widget widget-tabs widget-tabs-double-2 widget-tabs-vertical widget-tabs-responsive row row-merge box-generic overflow-hidden padding-none">
							<div class="col-md-8">
								<div id="news-featured-3" class="owl-carousel owl-theme">
	<div class="item"><a href=""><img src="../assets/images/photodune-3598444-caveman-xs.jpg" alt="" class="img-responsive img-clean"></a></div>
	<div class="item"><a href=""><img src="../assets/images/photodune-6374559-laboratory-tubes-xs.jpg" alt="" class="img-responsive img-clean"></a></div>
	<div class="item"><a href=""><img src="../assets/images/photodune-6374531-at-celebration-xs.jpg" alt="" class="img-responsive img-clean"></a></div>
</div>






							</div>
							<div class="widget-head col-md-4 border-bottom bg-gray">
								<ul>
									<li class="active"><a class="glyphicons list" href="#tabAll" data-toggle="tab"><i></i><span>All topics</span></a></li>
									<li><a class="glyphicons pencil" href="#tabAccount" data-toggle="tab"><i></i><span>Design</span></a></li>
									<li><a class="glyphicons user" href="#tabUsability" data-toggle="tab"><i></i><span>Usability</span></a></li>
									<li><a class="glyphicons snowflake" href="#tabContent" data-toggle="tab"><i></i><span>Content</span></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-generic bg-white innerAll inner-2x">
							<div class="media margin-none">
								<a href="" class="pull-left"><img src="../assets/images/photodune-5868894-scary-and-evil-clown-smiling-in-dark-spooky-style-xs.jpg" alt="" width="100"></a>
								<div class="media-body innerTB">
									<h4><a href="">Best of Web Design</a></h4>
									<p class="text-muted">30/12/2013</p>
								</div>
							</div>
							<div class="separator bottom"></div>
							<p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, est, iste similique eius perspiciatis expedita exercitationem.</p>
						</div>
						<div class="box-generic padding-none overflow-hidden bg-gray">
							<div class="innerAll inner-2x border-bottom">
								<h4><a href="">Best of Web Design in 2013</a></h4>
								<p class="text-muted">30/12/2013</p>
								<p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, est, iste similique eius perspiciatis expedita.</p>
							</div>
							<div class="row row-merge bg-white">
								<div class="col-md-6">
									<a href="" class="innerAll text-center display-block text-muted"><i class="fa fa-fw icon-comment-fill-1"></i> 307</a>
								</div>
								<div class="col-md-6">
									<a href="" class="innerAll text-center display-block text-muted"><i class="fa fa-fw icon-star-fill"></i> 61</a>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
		<!-- // END col-separator.box -->

	</div> 
	<!-- // END col -->

</div>
<!-- // END row-app -->


	
		
		
		</div>
		</div>
		<!-- // Content END -->
		
		<div class="clearfix"></div>
		<!-- // Sidebar menu & content wrapper END -->
		
				<!-- Footer -->
		<div id="footer" class="hidden-print">
			
			<!--  Copyright Line -->
			<div class="copy">&copy; 2012 - 2014 - <a href="http://www.mosaicpro.biz">MosaicPro</a> - All Rights Reserved. <a href="http://themeforest.net/?ref=mosaicpro" target="_blank">Purchase CORAL on ThemeForest</a> - Current version: v1.9.6 / <a target="_blank" href="../assets/../../CHANGELOG.txt">changelog</a></div>
			<!--  End Copyright Line -->
	
		</div>
		<!-- // Footer END -->
		
				
	</div>
	<!-- // Main Container Fluid END -->
	

	<!-- Global -->
	<script data-id="App.Config">
	var basePath = '',
		commonPath = '../assets/',
		rootPath = '../',
		DEV = false,
		componentsPath = '../assets/components/',
		layoutApp = false,
		module = 'admin';
	
	var primaryColor = '#eb6a5a',
		dangerColor = '#b55151',
		successColor = '#609450',
		infoColor = '#4a8bc2',
		warningColor = '#ab7a4b',
		inverseColor = '#45484d';
	
	var themerPrimaryColor = primaryColor;
	</script>
	
	<script src="{% static 'remake/assets/components/library/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'remake/assets/components/plugins/nicescroll/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'remake/assets/components/plugins/breakpoints/breakpoints.js' %}"></script>
<script src="{% static 'remake/assets/components/plugins/preload/pace/pace.min.js' %}"></script>
<script src="{% static 'remake/assets/components/core/js/preload.pace.init.js"></script>
<script src="{% static 'remake/assets/components/common/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js' %}"></script>
<script src="{% static 'remake/assets/components/common/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js' %}"></script>
<script src="{% static 'remake/assets/components/common/sliders/jqueryui-sliders/assets/custom/js/jqueryui-sliders.init.js' %}"></script>
<script src="{% static 'remake/assets/components/core/js/sidebar.main.init.js' %}"></script>
<script src="{% static 'remake/assets/components/core/js/sidebar.collapse.init.js' %}"></script>
<script src="{% static 'remake/assets/components/core/js/sidebar.kis.init.js' %}"></script>
<script src="{% static 'remake/assets/components/core/js/core.init.js' %}"></script>
<script src="{% static 'remake/assets/components/core/js/animations.init.js' %}"></script>	
</body>
</html>