{% extends "remake/base.html" %}

{% load staticfiles %}
{% load url from future %}

{% block content %}
			<div class="layout-app" style="margin-top: -2em;">

			<!-- row -->
<div class="row row-app margin-none">
	
	<!-- col -->
	<div class="col-md-12">

		<!-- col-separator -->
		<div class="col-separator col-separator-first border-none">

			<!-- col-table -->
			<div class="col-table">

				<!-- col-table-row -->
				<div class="col-table-row">

					<!-- col-app -->
					<div class="col-app">

						<!-- row-app -->
						<div class="row row-app margin-none">

							<!-- col -->
							<div class="col-lg-9 col-md-9 col-sm-12">

								<!-- col-separator -->
								<div class="col-separator col-unscrollable col-separator-last bg-none">

									<!-- col-table -->
									<div class="col-table">

										<div class="innerAll bg-white">
											<h4 class="margin-none innerT half pull-left">Resultados</h4>	
											<div class="clearfix"></div>
										</div>

										<div class="col-separator-h"></div>

										<!-- col-table-row -->
										<div class="col-table-row">

											<!-- col-app -->
											<div class="col-app col-unscrollable">

												<!-- col-app -->
												<div class="col-app">
													
													<div class="innerAll2">
														<div class="row" id="search_results">																	
															{% include "remake/ajax-search.html" %}		
														</div>
													</div>		
												</div>
												<!-- // END col-app -->												
		
											</div>
											<!-- // END col-app -->											

										</div>
										<!-- // END col-table-row -->

									</div>
									<!-- // END col-table -->

								</div>
								<!-- // END col-separator -->								

							</div> 
							<!-- // END col -->		
								<!-- col -->
							<div class="col-sm-12 col-md-3 col-lg-3">

								<!-- col-separator -->
								<div class="col-separator">

									<div class="innerAll inner-2x text-center border-bottom bg-white">
	<img class="cat-menu" src="http://res.cloudinary.com/nodlr/image/upload/v1400653600/Asociaciones_rtyatw.png" alt="">
</div>
<div class="widget widget-tabs border-none margin-none">
	<div class="widget-head bg-gray">
		<ul>
			<li class="active"><a href="#buy" data-toggle="tab">Video</a></li>
			<!--<li><a href="#rent" data-toggle="tab">Tab 2 </a></li>-->
		</ul>
	</div>
	<div class="widget-body padding-none">
	<!-- ============ Content for tab 2 ================= -->

		<!--<div class="innerAll border-bottom text-center">
			<div class="btn-group btn-group-block row margin-none" data-toggle="buttons">
				<label for="" class="btn btn-default col-md-6 active">
					<input type="radio"> <i class="fa fa-fw icon-user-1"></i> Info 1
				</label>
				<label for="" class="btn btn-default col-md-6">
					<input type="radio"> <i class="fa fa-fw icon-user-1"></i> Info 2
				</label>
			</div>
		</div> -->

		<div class="tab-content">
			<div class="tab-pane active" id="buy">	
				<div class="innerAll border-bottom">
					<label for="" class="strong">¿Qué es Click'n'Bees?</label>
					<!-- Slider -->
										<!-- // Slider END -->
				</div>

				<div class="innerAll text-center border-bottom">
					<iframe width="320" src="//www.youtube.com/embed/VgzR-dzJ1ng" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>		
	</div>
</div>
								</div>
								<!-- // END col-separator -->

							</div> 
							<!-- // END col -->					

						</div>
						<!-- // END row -->

					</div>
					<!-- // END col-app -->					

				</div>
				<!-- // END col-table-row -->

			</div>
			<!-- // END col-table -->

		</div>
		<!-- // END col-separator -->

	</div>
	<!-- // END col -->

</div>
<!-- // END row-app -->



	
		
		
		</div>
		</div>
		<!-- // Content END -->
		
		<div class="clearfix"></div>
		<!-- // Sidebar menu & content wrapper END -->
		{% endblock content %}