/* * MOTTO Responsive HTML template v1.1 
* http://themeforest.net/user/dexWrThemes 
* Author,dexWrThemes 
* */
/*--------------------------------------------------
			RESET
---------------------------------------------------*/
#preloadere {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#FFFFFF;
	z-index:99;
	height:100%;
	width:100%;
	/* background-image:url('images/loading-orange.gif');*/
	background-repeat:no-repeat;
	background-position:49.7% 50%;
	background-size:60px;
}
body {
	line-height:1.7em;
	color:#151515;
	font-weight:400;
	font-size:17px;
	font-family:'Roboto',sans-serif;
	-webkit-backface-visibility:visible;
}
h1,h2,h3,h4,h5,h6 {
	font-family:'Roboto',sans-serif;
}
h1 {
	font-size:53px;
	font-weight:800;
}
h2 {
	font-size:28px;
	font-weight:bold;
}
h3 {
	font-size:31px;
}
h4 {
	font-size:21px;
	font-weight:700;
}
img {
	max-width:100%;
}
ul {
	list-style:none;
	padding-left:0;
}
a {
	color:#01B7FF;
}
a:hover,a:active, a:focus {
	color:#009BD8;
	text-decoration:none;
	outline:none;
}
.lead {
	font-size:18px;
	font-weight:500;
}
.btn {
	border-radius:0;
	-webkit-border-radius:0;
}
.centered {
	text-align:center;
}
.centered-box {
	display:block;
	margin:auto;
	float:none;
}
.width-1 {
	max-width: 1010px;
}
/*--------------------------------------------------
			NAVIGATION
---------------------------------------------------*/
#header {
	border-bottom:1px solid #B8B8B8;
	box-shadow:0px 1px 0px #D1D1D1;
}
#header .container {
	max-width:1170px;
}
#logo {
	height:120px;
	float:left;
}
#logo a {
	line-height:121px;
}
.nav_wrapper {
	float:right;
}
.menu-mobile {
	display:none;
}
nav li a {
	color:#747474;
	display:inline-block;
	font-size:18px;
	font-weight:800;
	line-height:1;
	position:relative;
	text-transform:uppercase;
}
nav ul {
	margin-bottom:0;
}
nav>ul>li>a {
	padding:58px 17px 23px 16px;
	margin-bottom:-1px;
}
nav>ul>li {
	display:inline-block;
	font-size:11px;
	height:100%;
	position:relative;
}
nav>ul>li ul {
	background:#E9E9E9;
	box-shadow:0px 0px 1px rgba(0,0,0,0.43);
	color:#6B6B6B;
	display:block;
	left:0;
	min-width:155px;
	opacity:0;
	position:absolute;
	text-align:left;
	top:83px;
	visibility:hidden;
	white-space:nowrap;
	z-index:6;
	text-transform:capitalize;
	padding-left:0;
	border-top:1px solid #B8B8B8;
}
.header-fixed nav>ul>li>ul {
	top:65px;
}
nav>ul>li:last-child ul {
	left:auto;
	right:1px;
}
nav>ul>li:last-child ul:before {
	right:9px;
	left:auto;
}
nav>ul>li:last-child ul:after {
	right:10px;
	left:auto;
}
.boxed-layout nav>ul>li:last-child>ul {
	left:-50px;
	right:auto;
}
nav>ul>li:hover .level-1 {
	opacity:1;
	visibility:visible;
}
nav>ul>li>ul>li>ul {
	left:100%;
	top:0px;
}
nav>ul>li:last-child>ul>li>ul,nav>ul>li:nth-last-child(2)>ul>li>ul {
	left:auto;
	right:100%;
	top:0px;
}
nav>ul>li>ul>li>ul>li a {
	border-bottom:1px solid #b5c2c5;
}
nav>ul>li ul li a {
	display:block;
	font-weight:400;
	font-size:11pt;
	padding:11px 9px;
}
nav>ul>li>ul>li:hover>a,nav>ul>li>ul>li>ul>li:hover>a {
	color:#3C535F;
}
nav>ul>li>ul>li:hover ul {
	opacity:1;
	visibility:visible;
}
nav a:hover,nav a:focus {
	color:#7dad83;
}
nav li:hover a {
	text-decoration:none;
}
nav li:hover a.btn {
	border-width:1px;
}
nav li ul li>a {
	border-bottom:1px solid rgba(167,167,167,0.56)!important;
	color:rgba(112,112,112,1);
}
/*--------------------------------------------------
			ELEMENTS
---------------------------------------------------*/
.background {
	background:#7dad83;
	color:#fff;
}
.inner-background {
	padding-top:55px;
	padding-bottom:32px;
}
.btn {
	transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
}
.btn.btn-white {
	color:#7dad83;
	background:#fff;
	padding:20px 34px;
	padding-left:66px;
	padding-right:18px;
	font-size:22px;
	font-weight:800;
	border-radius:12px;
	margin-right:17px;
	position:relative;
}
.btn.btn-white .fa {
	font-size:70px;
	position:absolute;
	top:3px;
	left:23px;
}
.btn.btn-inverse .fa {
	font-size:53px;
	position:absolute;
	top:4px;
	left:23px;
}
.btn.btn-inverse {
	color:#fff;
	background:#212121;
	padding:16px 34px;
	padding-left:59px;
	padding-right:18px;
	font-size:18px;
	font-weight:800;
	border-radius:12px;
	margin-right:13px;
	position:relative;
}
.btn.btn-white .fa.fa-arrow-circle-o-right {
	font-size:48px;
	top:14px;
	left:18px;
}
.btn.btn-inverse .fa.fa-arrow-circle-o-right {
	font-size:40px;
	top:9px;
	left:18px;
}
.btn.btn-white:hover {
	color:#fff;
	background:#212121;
}
.btn.btn-inverse:hover {
	background:#7dad83;
}
.inner-background>div:first-of-type {
	padding-top:27px;
}
/*--------------------------------------------------
			SECTIONS
---------------------------------------------------*/
.inverse-section {
	color:#fff;
	background:#212121;
	overflow:hidden;
}
.inverse-section .title-section h2 {
	color:#fff;
}
.title-section {
	text-align:center;
	padding-top:44px;
	width:827px;
	margin:auto;
	padding-bottom:24px;
}
.service-box {
	text-align:center;
}
.circle {
	width:128px;
	line-height:115px;
	border-radius:50%;
	border:6px solid white;
	display:block;
	margin:auto;
	font-size:49px;
	top:0;
	margin-bottom:0;
	position:relative;
	transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	-webkit-transition:all .2s ease-in;
}
.circle .fa {
	transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	-webkit-transition:all .2s ease-in;
}
.circle .fa-mobile {
	font-size:67px;
	position:relative;
	top:6px;
}
.circle:hover {
	border:9px solid #7dad83;
	width:134px;
	top:-3px;
	margin-bottom:-6px;
}
.circle:hover .fa {
	transform:rotateY(180deg);
	-webkit-transform:rotateY(180deg);
	color:#7dad83;
}
.service-text h4 {
	padding-top:16px;
}
.service-text p {
	color:#B3B3B3;
	line-height:1.3;
	font-size:14px;
}
.title-section h2 {
	color:#7dad83;
	padding-bottom:7px;
	font-size:34px;
}
.title-section .lead {
	font-size:20px;
	font-weight:400;
}
.orange {
	color: #7dad83;
}
/*--------------------------------------------------
			CAROUSEL PORTFOLIO
---------------------------------------------------*/
.jcarousel-wrapper {
	position:relative;
}
.jcarousel-control {
	position:absolute;
	z-index:999999;
	width:76px;
	height:100%;
	display:block;
	left:-74px;
	background-image:none;
	text-align:center;
	transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	-webkit-transition:all .2s ease-in;
	opacity:0;
	top:0;
}
.jcarousel-wrapper:hover .jcarousel-control {
	opacity:1;
}
.jcarousel .jcarousel-control:hover {
	opacity:1;
}
.jcarousel-control-next {
		left:auto;
	right:-74px;
}
.jcarousel-control .fa {
	position:relative;
	top:39%;
	border-radius:50%;
	border:3px solid white;
	width:42px;
	text-align:center;
	font-size:36px;
	color:#fff;
	transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	-webkit-transition:all .2s ease-in;
}
.jcarousel-control .fa:hover {
	background:rgba(255,255,255,0.13);
}
.jcarousel-control:hover .fa {
	opacity:1;
}
.jcarousel {
	position:relative;
	overflow:hidden;
	margin-bottom:90px;
}
.jcarousel>ul {
	width:20000em;
	position:relative;
	list-style:none;
	margin:0;
	padding:0;
}
.jcarousel>ul>li {
	float:left;
	padding-right:5px;
}
.testimonials {
	padding-top:8px;
	padding-bottom:8px;
}
.gallery-menu {
	padding-bottom:51px;
}
.gallery-menu li {
	display:inline-block;
	padding:0 7px;
}
.gallery-menu li a {
	display:block;
	height:100%;
	width:100%;
	padding:6px 25px;
	background:#696969;
	color:#fff;
	font-weight:100;
	text-transform:uppercase;
	transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	-webkit-transition:all .2s ease-in;
}
.gallery-menu li a:hover {
	background:#014256;
}
.gallery-item {
	display:block;
	float:left;
}
.back-thumbnail {
	background:#1D1D1D;
	position:relative;
	overflow:hidden;
}
.back-thumbnail img {
	transition:all 0.7s ease-in;
	-moz-transition:all 0.7s ease-in;
	-webkit-transition:all 0.7s ease-in;
}
.back-thumbnail-content {
	position:absolute;
	width:100%;
	top:14%;
	opacity:0;
	transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	-webkit-transition:all .2s ease-in;
	margin-bottom:17px;
}
.back-thumbnail-content h5 {
	font-size:23px;
	color:#fff;
	text-align:center;
	padding-bottom:15px;
}
.back-thumbnail:hover .back-thumbnail-content {
		opacity:1;
}
.back-thumbnail .back-thumbnail-content ul {
	text-align:center;
	position:relative;
	top:20px;
	transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	-webkit-transition:all .2s ease-in;
}
.back-thumbnail:hover .back-thumbnail-content ul {
	top:0px;
}
.back-thumbnail-content ul li {
	display:inline-block;
}
.back-thumbnail-content ul li a {
	font-size:24px;
	color:#fff;
	border:2px solid #fff;
	width:44px;
	display:block;
	line-height:38px;
	border-radius:50px;
	transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	-webkit-transition:all .2s ease-in;
}
.back-thumbnail-content ul li a:hover {
	background:rgba(255,255,255,0.13);
}
.back-thumbnail:hover img {
	opacity:0.5;
	-webkit-transform:rotate(7deg) scale(1.2);
	-moz-transform:rotate(7deg) scale(1.2);
}
#features {
	padding-bottom:55px;
}
#features+div {
	padding-bottom:65px;
}
.circle-wrapper {
	height:133px;
}
#features {
	padding-bottom:43px;
}
#about {
	padding-bottom:40px;
}
.list1 {
	padding-bottom:20px;
}
.list1 li {
	font-size:19px;
	line-height:2;
	font-weight:500;
	position:relative;
	padding-left:31px;
}
.list1 li:before {
	content:"\f046";
	font-family:FontAwesome;
	font-size:24px;
	padding-right:5px;
	position:absolute;
	left:0;
	top: -4px;
}
/*--------------------------------------------------
			CAROUSEL SLIDER TESTIMONIAL
---------------------------------------------------*/
#testimonial-slider {
	position:relative;
	min-height:120px;
	width:700px;
	margin:auto;
	padding-bottom:50px;
}
.carousel-control {
	background:none !important;
	background-image:none !important;
	transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
	background:none!important;
	filter:none !important;
	text-decoration:none !important;
	color:#151515;
	opacity:1;
	font-size:22px;
	text-shadow:0 1px 0px rgba(0,0,0,0.6);
	top:10px;
}
.carousel-control.left {
	text-align:left;
	left:-94px;
}
.carousel-control.right {
	text-align:right;
	right:-94px;
}
.carousel-control:hover,.carousel-control:focus {
	color:#151515;
}
.testimonials:hover .carousel-control.left {
		opacity:1;
}
.testimonials:hover .carousel-control.right {
		opacity:1;
}
.carousel-control .fa:hover {
	background:rgba(255,255,255,0.13);
}
.carousel-control .fa {
	border-radius:50%;
	border:5px solid #151515;
	width:52px;
	text-align:center;
	line-height:43px;
}
.testimonial {
	font-size:23px;
	padding-bottom:40px;
}
.author-testimonial {
	font-size:26px;
	text-transform:uppercase;
	font-weight:800;
}
/*--------------------------------------------------
			SUBSCRIBE SECTION
---------------------------------------------------*/
.subscribe-form {
	text-align:center;
	padding-bottom:20px;
	padding-top:10px;
}
#subscribe-name {
	height:63px;
	background:#565656;
	border:2px solid #fff;
	width:300px;
	padding:0;
	padding-left:10px;
}
#subscribe-submit,#sendemail {
	line-height:60px;
	font-size:20px;
	padding:0 19px;
	vertical-align:top;
	color:#fff;
	background:#7dad83;
	border:2px solid #fff;
	font-weight:700;
	transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
}
#subscribe-submit:hover,#sendemail:hover {
	color:#7dad83;
	background:#fff;
}
#subscribe-submit .fa {
	font-size:31px;
	padding-right:8px;
	position:relative;
}
#subscribe-name {
	transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
}
#subscribe-name:focus {
	border-color:#7dad83;
	outline:0;
}
.submit-button {
	text-align:right;
	height:1px;
}
.text-field,.textarea-field {
	margin-bottom:21px;
	position:relative;
}
.text-field:last-of-type,.textarea-field {
	margin-bottom:10px;
}
.form-control {
	height:69px;
	border-radius:0;
	-webkit-border-radius:0;
	box-shadow:none;
	font-weight:400;
	font-size:19px;
	color:#DDDDDD;
	background:#565656;
	border:1px solid #FFFFFF;
	outline:1px solid #8A8A8A;
	padding:16px 16px;
}
.form-control:focus {
	border-color:#7dad83;
	outline:1px solid #7dad83;
	box-shadow:none;
}
.text-field .label,.textarea-field .label {
	position:absolute;
	top:26px;
	font-size:18px;
	left:18px;
	padding:0;
	font-weight:300;
	text-transform:uppercase;
}
.subscribe-form .label {
	top:22px;
}
.subscribe-form .text-field {
	margin-bottom:0;
	display:inline-block;
}
/*--------------------------------------------------
			CONTACT SECTION
---------------------------------------------------*/
.group-1 {
	width:40%;
	float:left;
}
.group-2 {
	width:56%;
	float:left;
	margin-left:4%;
}
#sendemail {
	
	font-size:18px;
	padding:0 23px;
	line-height:47px;
	height:47px;
	font-weight:400;
	margin-top:10px;
}
#message-form {
height: 249px;
}
.social-icons {
	display:inline-block;
}
.social-icons a {
	background:#565656;
	color:#fff;
	width:45px;
	display:inline-block;
	text-align:center;
	line-height:45px;
	border-radius:50px;
	font-size:21px;
	margin-right:10px;
	transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
}
.contact-inner {
	padding-bottom:40px;
}
.social-icons a:hover {
	background:#fff;
	color:#7dad83;
}
.animate {
	opacity:0;
}
.animated {
	opacity:1;
}
.nicescroll-rails {
	background:#F1F1F1;
	width:14px !important;
}
.nicescroll-rails>div {
	left:-2px;
}
#preloadere .logo-loading {
	height:120px;
	float:none;
	text-align:center;
	padding-top:100px;
}
/*--------------------------------------------------
			PORTFOLIO slider
---------------------------------------------------*/
.portfolio-image {
	display:block;
	margin:auto;
	transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	-webkit-transition:all .2s ease-in;
}
.portfolio-image:hover {
	opacity:0.8;
}
.portfolio-body h2 {
	text-align:center;
	padding-bottom:20px;
}
.portfolio-body {
	padding-bottom:60px;
}
.portfolio-body p {
	font-size:13px;
	color:#B5B5B5;
}
.portfolio-body .btn {
	margin-top:10px;
	padding:10px 20px;
	border-radius:5px;
}
.btn.btn-warning {
	background:#7dad83;
	border-color:#7dad83;
}
.portfolio-close {
	display:block;
	margin:auto;
	border-radius:50px;
	-webkit-border-radius:50px;
	border:3px solid white;
	width:44px;
	text-align:center;
	line-height:38px;
	font-size:21px;
	text-shadow:none;
	font-weight:bold;
	color:#fff;
	margin-bottom:41px;
	opacity:0.8;
	transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	-webkit-transition:all .2s ease-in;
}
.portfolio-close:hover {
	text-decoration:none;
	opacity:1;
	color:#fff;
}
.porfolio-content-wrapper {
	position:relative;
	display:none;
	width:100% !important;
	overflow:visible !important;
	/* transition:opacity .2s ease-in;-moz-transition:opacity .2s ease-in;-webkit-transition:opacity .2s ease-in;*/
}
.portfolio .porfolio-post {
	display:none;
}
#porfolio-content {
}
.portfolio-left,.portfolio-right {
	position:absolute;
	color:#fff;
	font-size:44px;
	top:200px;
	opacity:0.8;
	transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	-webkit-transition:all .2s ease-in;
}
.portfolio-left {
	left:-50px;
}
.portfolio-right {
	right:-50px;
}
.portfolio-left:hover,.portfolio-right:hover {
	opacity:1;
	color:#fff;
}
.btn.btn-info {
	background:#01B7FF;
	transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	-webkit-transition:all .2s ease-in;
}
.btn.btn-info:hover {
	background:#8E8E8E;
	border-color:#8E8E8E;
}
.alert {
	padding:9px;
}
.close {
	top:-5px;
	font-size:18px;
	position:relative;
}
#message_post {
	margin-top:24px;
}
.map-container iframe {
	width:100%;
	margin-bottom:-15px;
}
/*--------------------------------------------------
			FOOTER
---------------------------------------------------*/
.copyright {
	text-align:center;
	font-size:15px;
	font-weight:bold;
}
#footer {
	padding-bottom:21px;
	padding-top:32px;
}
/*--------------------------------------------------
			RESPONSIVE
---------------------------------------------------*/
@media (max-width:1135px) {
	.jcarousel-wrapper {
		width:80%;
		margin:auto;
	}
}
@media (max-width:1024px) {
	.animate {
			opacity:1;
	}
	.title-section {
		width:100%;
	}
	nav>ul>li>a {
		padding:58px 10px 23px 9px;
		font-size:15px;
	}
}
@media (max-width:990px) {
	.inner-background>div:first-of-type {
		padding-bottom:20px;
	}
	.inner-background div {
		text-align:center;
	}
	.service-box {
		padding-bottom:20px;
	}
	#about+div {
		width:80%;
		margin:auto;
	}
	#about+div>.col-md-6 {
		padding-bottom:30px;
	}
}
@media (max-width:940px) {
	.testimonials {
		width:74%;
		margin:auto;
	}
	.testimonial {
		font-size:19px;
	}
	.carousel-control .fa {
		border:3px solid #151515;
		width:50px;
	}
	#testimonial-slider {
		width:auto;
	}
	.jcarousel-control {
		opacity:1;
	}
}
@media (max-width:850px) {
	.inner-background {
		padding-top:19px;
	}
	h1 {
		font-size:44px;
	}
	h3 {
		font-size:26px;
	}
	.btn.btn-white,.btn.btn-inverse {
		padding:10px 34px;
		padding-left:48px;
		padding-right:12px;
		font-size:19px;
	}
	.btn.btn-white .fa,.btn.btn-inverse .fa {
		font-size:49px;
		position:absolute;
		top:0px;
		left:17px;
	}
	.btn.btn-white .fa.fa-arrow-circle-o-right,.btn.btn-inverse .fa.fa-arrow-circle-o-right {
		font-size:38px;
		top:6px;
		left:9px;
	}
	.title-section h2 {
		font-size:23px;
	}
	.title-section .lead {
		font-size:16px;
	}
	.lead {
		font-size:16px;
	}
	.list1 li {
		font-size:18px;
	}
	#about+div {
		width:100%;
	}
	#logo {
		height:102px;
	}
	.btn.menu-mobile {
				display:inline-block;
			color:#7dad83;
			font-size:33px;
			position:absolute;
			top:-67px;
			right:0;
			padding:0;
			transition:all .2s ease-in;
		-moz-transition:all .2s ease-in;
		-webkit-transition:all .2s ease-in;
	}
	.btn.menu-mobile:hover {
		color:#212121;
	}
	.nav_wrapper ul {
				display:none;
	}
		.nav_wrapper {
				float:none;
				height:auto;
				padding-top:15px;
				text-align:right;
	}
	#logo a {
		line-height:109px;
	}
	nav {
			clear:both;
			position:relative;
	}
	nav>ul>li {
				border-top:none!important;
				display:block;
				padding-bottom:0;
				padding-left:0;
				text-align:left;
	}
	nav>ul>li>a {
				padding:13px 16px 9px 14px;
				font-size:15px;
	}
	nav>ul>li:hover>a {
			border-bottom:none;
	}
		nav>ul>li:last-of-type {
			padding-bottom:15px;
	}
}
@media (max-width:721px) {
	.testimonials {
		width:56%;
	}
	.jcarousel-wrapper {
		width:71%;
	}
	.form-control {
		height:51px;
	}
	.text-field .label,.textarea-field .label {
		top:18px;
		font-size:15px;
	}
	.subscribe-form .label {
		top:21px;
	}
	.group-1,.group-2 {
		width:100%;
		float:none;
		margin-left:0%;
	}
	.group-1 {
		margin-bottom:25px;
	}
}
@media (max-width:560px) {
	#subscribe-name {
		height:57px;
		width:100%;
	}
	.subscribe-form .text-field {
		margin-bottom:20px;
		display:block;
	}
	.carousel-control .fa {
		border:2px solid #151515;
		width:42px;
		line-height:38px;
		font-size:17px;
	}
	.carousel-control.right {
		right:-57px;
	}
	.carousel-control.left {
		left:-57px;
	}
}
@media (max-width:560px) {
	.jcarousel {
		margin-bottom:27px;
	}
	.jcarousel-wrapper {
		text-align:center;
	}
	.jcarousel-control {
		position:static;
		display:inline-block;
		padding-bottom:30px;
		opacity:1;
	}
	.portfolio-close {
		display:none;
	}
	.btn.btn-white,.btn.btn-inverse {
		margin-bottom:20px;
	}
	.social-icons a {
		width:37px;
		line-height:37px;
		font-size:14px;
		margin-right:2px;
	}
	#subscribe-submit,#sendemail {
		line-height:51px;
		font-size:17px;
		padding:0 16px;
	}
	#sendemail {
		line-height:41px;
		font-size:16px;
		
	}
}