{% load staticfiles %}
{% load url from future %}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html class=""> <![endif]-->
<!--[if !IE]><!--><html class=""><!-- <![endif]-->
<head>
	<title>CORAL Front Template (v1.9.6)</title>
	
	<!-- Meta -->
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	
	<!-- 
	**********************************************************
	In development, use the LESS files and the less.js compiler
	instead of the minified CSS loaded by default.
	**********************************************************
	<link rel="stylesheet/less" href="../assets/less/front/module.front.stylesheet-complete.sidebar_type.fusion.less" />
	-->

		<!--[if lt IE 9]><link rel="stylesheet" href="../assets/components/library/bootstrap/css/bootstrap.min.css" /><![endif]-->
	<link rel="stylesheet" href='{% static "remake/assets/less/mobile-green.css" %}' />

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

	<script src="{% static 'remake/assets/components/library/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'remake/assets/components/library/jquery/jquery-migrate.min.js' %}"></script>
	<script src="{% static 'remake/assets/components/library/modernizr/modernizr.js' %}"></script>
	<script src="{% static 'remake/assets/components/plugins/less-js/less.min.js' %}"></script>
	<script src="{% static 'remake/assets/components/modules/admin/charts/flot/assets/lib/excanvas.js' %}"></script>
	<script src="{% static 'remake/assets/components/plugins/browser/ie/ie.prototype.polyfill.js' %}"></script>	
	<script>
		if (/*@cc_on!@*/false && document.documentMode === 10) { document.documentElement.className+=' ie ie10'; }
	</script>
	
	
</head>
<body>

	<div class="container-fluid">

	<div id="menu-top">
	<div class="container">
		<ul class="main pull-left">
			<li><a target="_blank" href="../admin/index.html?lang=en"><i class="fa fa-fw fa-flash"></i> Social App</a></li>
			<li><a target="_blank" href="../admin/medical_overview.html?lang=en"><i class="fa fa-fw fa-medkit"></i> Medical App</a></li>
			<li><a target="_blank" href="../admin/finances.html?lang=en"><i class="fa fa-fw fa-credit-card"></i> Financial</a></li>
			<li><a target="_blank" href="../admin/tasks.html?lang=en"><i class="fa fa-fw fa-question-circle"></i> Tasks</a></li>
			<li><a target="_blank" href="../admin/courses.html?lang=en"><i class="fa fa-fw fa-book"></i> Courses</a></li>
		</ul>
		<ul class="colors pull-right hidden-xs">
			
						<li class="active"><a href="?module=front&page=index&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=style-default" style="background-color: #eb6a5a" class="no-ajaxify"><span class="hide">style-default</span></a></li>
						<li><a href="?module=front&page=index&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=green" style="background-color: #87c844" class="no-ajaxify"><span class="hide">green</span></a></li>
						<li><a href="?module=front&page=index&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=coral" style="background-color: #7eccc2" class="no-ajaxify"><span class="hide">coral</span></a></li>
			
			<li class="dropdown">
				<a href="" data-toggle="dropdown" class="dropdown-toggle">
					<span class="color inverse"></span>
					<span class="color danger"></span>
					<span class="color success"></span>
					<span class="color info"></span>
				</a>
				<ul class="dropdown-menu pull-right">
										<li><a href="?module=front&page=index&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=alizarin-crimson" class="no-ajaxify"><span class="color" style="background-color: #F06F6F"></span> alizarin-crimson</a></li>
										<li><a href="?module=front&page=index&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=blue-gray" class="no-ajaxify"><span class="color" style="background-color: #7293CF"></span> blue-gray</a></li>
										<li><a href="?module=front&page=index&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=brown" class="no-ajaxify"><span class="color" style="background-color: #d39174"></span> brown</a></li>
										<li><a href="?module=front&page=index&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=purple-gray" class="no-ajaxify"><span class="color" style="background-color: #AF86B9"></span> purple-gray</a></li>
										<li><a href="?module=front&page=index&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=purple-wine" class="no-ajaxify"><span class="color" style="background-color: #CC6788"></span> purple-wine</a></li>
										<li><a href="?module=front&page=index&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=green-army" class="no-ajaxify"><span class="color" style="background-color: #9FB478"></span> green-army</a></li>
										<li><a href="?module=front&page=index&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=black-and-white" class="no-ajaxify"><span class="color" style="background-color: #979797"></span> black-and-white</a></li>
										<li><a href="?module=front&page=index&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=amazon" class="no-ajaxify"><span class="color" style="background-color: #8BC4B9"></span> amazon</a></li>
										<li><a href="?module=front&page=index&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=amber" class="no-ajaxify"><span class="color" style="background-color: #CACA8A"></span> amber</a></li>
										<li><a href="?module=front&page=index&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=android-green" class="no-ajaxify"><span class="color" style="background-color: #A9C784"></span> android-green</a></li>
										<li><a href="?module=front&page=index&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=antique-brass" class="no-ajaxify"><span class="color" style="background-color: #B3998A"></span> antique-brass</a></li>
										<li><a href="?module=front&page=index&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=antique-bronze" class="no-ajaxify"><span class="color" style="background-color: #8D8D6E"></span> antique-bronze</a></li>
										<li><a href="?module=front&page=index&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=artichoke" class="no-ajaxify"><span class="color" style="background-color: #B0B69D"></span> artichoke</a></li>
										<li><a href="?module=front&page=index&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=atomic-tangerine" class="no-ajaxify"><span class="color" style="background-color: #F19B69"></span> atomic-tangerine</a></li>
										<li><a href="?module=front&page=index&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=bazaar" class="no-ajaxify"><span class="color" style="background-color: #98777B"></span> bazaar</a></li>
										<li><a href="?module=front&page=index&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=bistre-brown" class="no-ajaxify"><span class="color" style="background-color: #C3A961"></span> bistre-brown</a></li>
										<li><a href="?module=front&page=index&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=bittersweet" class="no-ajaxify"><span class="color" style="background-color: #d6725e"></span> bittersweet</a></li>
										<li><a href="?module=front&page=index&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=blueberry" class="no-ajaxify"><span class="color" style="background-color: #7789D1"></span> blueberry</a></li>
										<li><a href="?module=front&page=index&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=bud-green" class="no-ajaxify"><span class="color" style="background-color: #6fa362"></span> bud-green</a></li>
										<li><a href="?module=front&page=index&url_rewrite=&build=&v=v1.9.6&sidebar_type=fusion&skin=burnt-sienna" class="no-ajaxify"><span class="color" style="background-color: #E4968A"></span> burnt-sienna</a></li>
									</ul>
			</li>
		</ul>
	</div>
</div>



	<!-- Nav Bar -->   
<div class="navbar navbar-coral navbar-fixed-top">
    <!-- Nav Bar Header -->       
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle " data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar "></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html?lang=en">Coral</a>
        </div>
        <!-- Nav Bar Collapse -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav main-menu">
                <li class="active"><a href="index.html?lang=en" >Home</a></li>
                                <li><a href="team.html?lang=en">The Team</a></li>
                <li><a href="pricing.html?lang=en">Pricing</a></li>
                <li><a href="blog.html?lang=en">Blog</a></li>
                <li><a href="contact.html?lang=en">Contact Us</a></li>
            </ul>
        </div> 
        <!-- NavBar Collapse -->
        <!-- Nav Bar Right -->          
        <ul class="nav navbar-nav navbar-right right-side">
            <!-- User LogIn Button -->
            <li> 
                <div class="btn-group">
                    <a href="#login-menu" class="btn btn-login" data-toggle="collapse"> Login</a>
                    <div class="collapse login" id="login-menu">
                        <form action="">
                            <div>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" placeholder="Email">
                                    <span class="input-group-addon"><i class="fa fa-check"></i></span>
                                </div>
                                <div class="input-group input-group-sm">
                                    <input type="password" class="form-control" placeholder="Password">
                                    <span class="input-group-addon"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                            <div class="pull-right">
                                <i class="fa fa-refresh fa-spin"></i> <button type="button" class="btn btn-login">Login</button>
                            </div>
                            <div class="center">                          
                                <a href="" class="recover-password">Recover Password <i class="fa fa-lock"></i></a>
                            </div>
                        </form>
                    </div>
                    <a href="" class="btn btn-signup glyphicons user_add"><i></i>Sign up</a>
                </div>
            </li>
        </ul>
    </div>
</div>

{% block content %}	
{% endblock content %}
<div id="footer" class="hidden-print">
			<div class="container">
				
				<ul class="list-unstyled center">
		        	<li  class="active"><a href="index.html?lang=en" >Home</a></li>
		        	<li ><a href="portfolio.html?lang=en">Portfolio</a></li>
		        	<li ><a href="pricing.html?lang=en">Pricing</a></li>
		        	<li ><a href="blog.html">Blog</a></li>
		        	<li ><a href="team.html?lang=en">The Team</a></li>
		        	<li ><a href="contact.html?lang=en">Contact Us</a></li>
				</ul>
				<div class="copy">Copyright &copy; 2013 CORAL. All Rights Reserved.</div>
				<!--  Copyright Line -->
				<div class="copy margin-none"><a href="http://themeforest.net/?ref=mosaicpro" target="_blank">Purchase CORAL on ThemeForest</a> - Current version: v1.9.6 / <a target="_blank" href="../assets/../../CHANGELOG.txt">changelog</a></div>
				<!--  End Copyright Line -->

			</div>		
		</div>
		<!-- // Footer END -->
	</div>

	<!-- Global -->
	<script data-id="App.Config">
	var basePath = '',
		commonPath = '../assets/',
		rootPath = '../',
		DEV = false,
		componentsPath = '../assets/components/',
		layoutApp = false,
		module = 'front';
	
	var primaryColor = '#f9ac1d',
		dangerColor = '#b55151',
		successColor = '#609450',
		infoColor = '#4a8bc2',
		warningColor = '#ab7a4b',
		inverseColor = '#45484d';
	
	var themerPrimaryColor = primaryColor;
	</script>
	
	
	<script src="{% static 'assets/components/plugins/holder/holder.js' %}"></script>
	<script src="{% static 'assets/components/modules/front/core/assets/js/front.core.init.js' %}"></script>
	<script src="{% static 'assets/js/ajax.js' %}"></script>	
	<script src="{% static 'remake/assets/components/library/bootstrap/js/bootstrap.min.js' %}"></script>	
	<script src="{% static 'remake/assets/components/plugins/preload/pace/pace.min.js' %}"></script>
	<script src="{% static 'assets/components/core/js/preload.pace.init.js' %}"></script>
</body>
</html>