{% extends "landing/base.html" %}

{% load staticfiles %}
{% load url from future %}

{% block content %}

<div id="content">
	
	<div class="page-title">
		<div class="container">
			<h1 >Contact</h1>
		</div>
	</div>

	<div class="container">
		<div class="row innerT">
		    <div class="col-md-8">
		      	<p class="innerTB">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, iusto, numquam accusamus saepe ea ratione fuga in optio incidunt dicta magni aliquam reiciendis velit quam provident nemo commodi! Dolore, reiciendis.</p> 
		      	<h3>Send us a message</h3>
		      	<div class="separator"></div>

		      	
		      	<div class="box-generic bg-gray innerAll inner-2x">

			      	<div class="row margin-none">
					  	<div class="col-sm-8 col-xs-10 padding-none">
					     	<div class="input-group input-group-lg">
			              		<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
			              		<input type="text" class="form-control" placeholder="Name">
				        	</div>
					  	</div>
					  	<div class="col-sm-4 col-xs-2 padding-none">
					    	<div class="innerAll">
				    			<i class="fa fa-check-circle text-primary fa-2x"></i>
					    	</div>
					  	</div>
					</div>
					<div class="separator"></div>
					<div class="row margin-none">
					  	<div class="col-sm-8 col-xs-10 padding-none"> 
			            	<div class="input-group input-group-lg">
				            	<span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
				         		<input type="text" class="form-control" placeholder="Email">
				        	</div>
					  	</div>
					  	<div class="col-sm-4 col-xs-2 padding-none">
					      	<div class="innerAll">
					    		<i class="fa fa-check-circle  text-primary fa-2x"></i>
					    	</div>
					  	</div>
					</div>
					<div class="separator"></div>
					<div class="row margin-none">
					  	<div class="col-sm-8 col-xs-10 padding-none">
					   		<div class="input-group input-group-lg">
				            	<span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
				         		<input type="text" class="form-control" placeholder="Phone Number">
				        	</div>
					  	</div>
				  		<div class="col-sm-4 col-xs-2 padding-none">
					      	<div class="innerAll">
					    		<i class="fa fa-refresh fa-2x"></i>
					 	  	</div>
					  	</div>
					</div>
					<div class="innerTB">
						<textarea class="form-control" rows="3" placeholder="Type in your message..."></textarea>
					</div>
		       	    <a class="btn btn-primary btn-lg">Send Message <i class="fa fa-chevron-right fa-fw"></i></a>
		       	</div>
		    </div>

		    <div class="col-md-4 sidebar">    
			     <div class="panel panel-contact panel-primary innerT">
					  <div class="panel-heading strong">
					  	<i class="fa fa-building fa-3x pull-left"></i> MOSAICPRO LLC <br/><small>Oradea, Romania</small>
					  </div>	
				</div>
		      	<div class="panel panel-contact panel-default">
			        <div class="panel-heading">
			          	<h3 class="panel-title strong">Company Information</h3>
			        </div>
			        <ul class="panel-body">
			            <li>
			                <i class="fa fa-question-circle pull-left fa-2x"></i>
			                <span>Get Help</span> </br>
			                <a href="">Support Forums</a>
			            </li>
		              	<li>
		                	<i class="fa fa-clock-o pull-left fa-2x"></i>
			                <span>mosaicpro</span></br>
			                <a href="">09 AM - 05 PM </a> <small>(GMT+2)</small>
			            </li>
		              	<li>
			                <i class="fa fa-envelope pull-left fa-2x"></i>
			                <span>Email us</span></br>
			                <a href="">contact@mosaicpro.biz</a>
			            </li>
			        </ul>
		      	</div>  
		      	<div class="well well-info">
			        <div class="fa fa-scissors fa-background"></div>
			        <h3><i class="fa fa-scissors"></i> Custom Work?</h3>
			        <ul class="innerAll">
			          <li>24-48 H Response</li>
			          <li>No Extra Costs</li>
			          <li>Amazing Planning</li>
			          <li>Reliable and Secure</li>
			          <li>Wait no more...</li>
			        </ul>
			        <div class="text-center innerT">
			          <a class="btn btn-default btn-lg strong">Request a quotation <i class="fa fa-chevron-right"></i></a>
			        </div>
		      	</div>
		    </div>
  		</div>
  	</div>
  </div>

 	{% endblock content %}