{% load staticfiles %}
{% load url from future %}
{% load widget_tweaks %}

<!DOCTYPE HTML>
<html lang="es-MX">
<head>
	<meta charset="UTF-8">
	<title>Click'n'Bees</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,800,500' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'landing/css/bootstrap.css' %}" media="all" />
	<link rel="stylesheet" type="text/css" href="{% static 'landing/css/font-awesome.min.css' %}" media="all" />
	<link rel="stylesheet" href="{% static 'landing/css/prettyPhoto.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'landing/css/animate.min.css' %}" type="text/css" media="all" />
	
	<!-- <link rel="stylesheet" href="{% static 'landing/css/jpreloader.css' %}" /> -->
	
	<!-- THEME stylesheet -->
	<link rel="stylesheet" type="text/css" href="{% static 'landing/style.css' %}" media="all" />
	
	<style type="text/css">


</style>
</head>


<body>
<div id="header" class="clearfix">
	<div class="container">	
		<!-- LOGO -->
		<div id="logo">
			<a href="#"><img src="{% static 'landing/images/logo.png' %}" alt=""/></a>
		</div>
		
		<div class="nav_wrapper">
			<!-- NAVIGATION MENU -->
			<nav>
				<a href="#" class="btn menu-mobile"><i class="fa fa-align-justify"></i></a>				
				<ul>
					<li class="active"><a href="#home">Inicio</a></li>
					<li><a href="#features">Funcionalidades </a></li>
					<li><a href="#about">Quienes Somos </a></li>
					<li><a href="#gallery">Galería </a></li>					
					<li><a href="#testimonial">Testimonios </a></li>
					<li><a href="#contact">Contacto</a></li>
				</ul>
			</nav>
		</div><!-- nav_wraper end -->		
	</div>
</div><!-- header end -->

<!-- main section -->
<div class="background" id="home">
	<div class="container inner-background">
		<div class="col-md-6">
			<h1>CLICK 'N' BEES</h1>
			<h3>WEBAPP </h3>
			<hr />
			<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at nunc urna. Pellentesque congue enim sit amet arcu volutpat, quis viverra velit mattis. Vestibulum vel tortor.</p>
			<a href="#" class="btn btn-white"><i class="fa fa-mobile"> </i> BUY NOW</a>
			<a href="#" class="btn btn-white"><i class="fa fa-arrow-circle-o-right"></i>SEE MORE</a>
			
		</div>
		<div class="col-md-6">
			<img src="{% static 'landing/images/img1.png' %}" class="animate fadeInRight" width="484"   data-delay="1400" alt="" />
		</div>
	</div>
</div>

<!-- features section -->
<div class="inverse-section">
	<div class="container">
		<div class="title-section" id="features">
			<h2>MOTTO IS A SIMPLE BOOTSTRAP LANDING PAGE</h2>
			<p class="lead">Duis per conubia nostra malesuada enim in elit vestibulum aliquet. Sed vestibulum fringilla feugiat. Class aptent taciti sociosqu ad litora torquent .</p>
		</div>
		
		<div class="container">
			<div class="service-box col-md-4 animate fadeInUp"  data-delay="400">
				<div class="circle-wrapper">
					<span class="circle">
						<i class="fa fa-comments-o animated"></i>
					</span>
				</div>
				<div class="service-text"><h4>RESPONSIVE LAYOUT</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at nunc urna. Pellentesque congue enim sit amet arcu volutpat, quis viverra velit mattis.</p>
				</div>
			</div>
				
			<div class="service-box col-md-4 animate fadeInUp"  data-delay="800">
				<div class="circle-wrapper">
					<span class="circle">
						<i class="fa fa-mobile animated"></i>
					</span>
				</div>
				<div class="service-text"><h4>CUSTOMER SUPPORT</h4>
				<p>Morbi tristique, odio vitae elementum ipsum, vitae sagittis orci magna ultrices velit.In blandit, augue sed tempor feugiat, erat dui hendrerit </p>
				</div>
			</div>
				
			<div class="service-box col-md-4 animate fadeInUp"  data-delay="1200">
				<div class="circle-wrapper">
					<span class="circle">
						<i class="fa fa-heart animated"></i>
					</span>
				</div>
				<div class="service-text"><h4>CUSTOM DESIGN</h4>
				<p>Morbi tristique, odio vitae elementum facilisis, nibh turpis blandit ipsum, vitae sagittis orci magna ultrices velit.In blandit, feugiat, erat dui hendrerit </p>
				</div>
			</div>
		</div>

	</div>
</div>

<!-- about section -->
<div class="">
	<div class="container width-1">
		<div class="title-section" id="about">
			<h2 class="animate fadeInUp">SIMPLE APP LANDING PAGE</h2>
			<p class="lead animate fadeInUp">Duis malesuada enim in elit vestibulum aliquet. Sed vestibulum fringilla feugiat. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<h2 class="orange">INCREDIBLE DESIGN</h2>
				<p class="lead">Integer at cursus nunc. Morbi tristique, odio vitae elementum facilisis</p>
				<ul class="list1">
					<li>Vitae sagittis orci</li>
					<li>magna ultrices velit.</li>
					<li>Duis posuere ipsum </li>
				
				</ul>
				<a href="#" class="btn btn-inverse"><i class="fa fa-mobile"> </i> BUY NOW</a>
				<a href="#" class="btn btn-inverse"><i class="fa fa-arrow-circle-o-right"></i>SEE MORE</a>
			</div>			
			<div class="col-md-5 centered">
				<img src="{% static 'landing/images/img2.png' %}"  class="animate fadeInRight" data-delay="300" alt="" width="265"/>
			</div>
		</div>
		<br />
		<br />
	</div>
</div>

<!-- portfolio section -->
<div class="inverse-section">
	<div class="container width-1">
		<div class="title-section" id="gallery">
			<h2 class="animate fadeInUp">AWESOME GALLERY</h2>
			<p class="lead animate fadeInUp">Duis malesuada enim in elit vestibulum aliquet. Sed vestibulum fringilla feugiat. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
		</div>
		<br />
		<!-- jcarousel -->
		<div class="jcarousel-wrapper">
		
		
		<div class="jcarousel portfolio">
			<ul>				
				<li class="gallery-item animate fadeInUp" data-delay="400">
					<div class="back-thumbnail">
						<a href="#" class="open-post" data-post="1"><img src="{% static 'landing/images/thumb1.jpg' %}" alt="" width="240"/></a>
						<div id="post-1" class="porfolio-post">
							<img class="portfolio-image" alt="#" src="http://placehold.it/600x400">
							<div class="portfolio-body"><h2>Item One</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at nunc urna. Pellentesque congue enim sit amet arcu volutpat, quis viverra velit mattis. Vestibulum vel tortor ut dui euismod scelerisque. In blandit, augue sed tempor feugiat, erat dui hendrerit est, nec posuere tellus leo nec lacus</p>
								<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
								<a target="_self" class="btn btn-warning" href="#">Ipsum dolor</a>
							</div>
						
						</div>
					</div>
				</li>
					
				<li class="gallery-item animate fadeInUp" data-delay="600">
					<div class="back-thumbnail">
						<a href="#" class="open-post" data-post="2"><img src="{% static 'landing/images/thumb2.jpg' %}" alt="" width="240"/></a>
						<div id="post-2" class="porfolio-post">
							<img class="portfolio-image" alt="#" src="http://placehold.it/600x400">
							<div class="portfolio-body"><h2>Consectetur adipiscing</h2>
								<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at nunc urna. Pellentesque congue enim sit amet arcu volutpat, quis viverra velit mattis.In blandit, augue sed tempor feugiat, erat dui hendrerit est, nec posuere tellus leo nec lacus</p>
								<a target="_self" class="btn btn-warning" href="#">Ipsum dolor</a>
							</div>
							
						</div>
					</div>
				</li>
					
				<li class="gallery-item animate fadeInUp" data-delay="800">
					<div class="back-thumbnail">
						<a href="#" class="open-post" data-post="3"><img src="{% static 'landing/images/thumb3.jpg' %}" alt="" width="240"/></a>
						<div id="post-3" class="porfolio-post">
							<img class="portfolio-image" alt="#" src="http://placehold.it/600x400">
							<div class="portfolio-body"><h2>Ultrices velit</h2>
								<p>vitae sagittis orci magna ultrices velit. Duis posuere ipsum eu est ultricies sollicitudin. Duis malesuada enim</p>
								<p>Vitae sagittis orci magna ultrices velit. Duis posuere ipsum eu est ultricies sollicitudin. Duis malesuada enim in elit vestibulum aliquet. Sed vestibulum fringilla feugiat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
								<a target="_self" class="btn btn-warning" href="#">Ipsum dolor</a>
							</div>
							
						</div>
					</div>
				</li>
					
				<li class="gallery-item animate fadeInUp" data-delay="1000">
					<div class="back-thumbnail">
						<a href="#" class="open-post" data-post="4"><img src="{% static 'landing/images/thumb4.jpg' %}" alt="" width="240"/></a>
						<div id="post-4" class="porfolio-post">
							<img class="portfolio-image" alt="#" src="http://placehold.it/600x400">
							<div class="portfolio-body"><h2>Sed diam</h2>
								<p>Ut eget elit vitae tortor tempor hendrerit. Nullam cursus risus in porta pharetra. Aliquam ultricies eget urna nec posuere. Nullam eleifend ipsum eu metus lobortis condimentum. Proin id dui tortor. Donec dapibus,</p>
								<p>Maecenas vulputate orci neque, sed ullamcorper mauris hendrerit ut. Cras massa lectus, laoreet sit amet massa at, sagittis dictum neque.</p>
								<a target="_self" class="btn btn-warning" href="#">Ipsum dolor</a>
							</div>
							
						</div>
					</div>
				</li>
					
				<li class="gallery-item animate fadeInUp" data-delay="1200">
					<div class="back-thumbnail">
						<a href="#" class="open-post" data-post="5"><img src="{% static 'landing/images/thumb5.png' %}" alt="" width="240"/></a>
						<div id="post-5" class="porfolio-post">
							<img class="portfolio-image" alt="#" src="http://placehold.it/600x400">
							<div class="portfolio-body"><h2>Sadipscing Elitr</h2>
								<p>Mauris orci lorem, aliquam sed mauris sit amet, aliquet blandit est. Etiam sit amet nisl urna. Vivamus erat arcu, scelerisque vitae pulvinar sit amet, auctor in urna. Aenean mattis, eros id lobortis commodo, nisl magna aliquam felis, sit amet pretium nunc enim a libero. Curabitur commodo dapibus facilisis.</p>
								<p>Duis ultricies magna vel lacus vehicula, non imperdiet risus mattis. Cras id dui libero. Integer tincidunt ultricies eros ut consectetur. Fusce luctus, felis non consectetur facilisis, sapien turpis tempus quam, ut ornare mi tortor a felis.</p>
								<a target="_self" class="btn btn-warning" href="#">Ipsum dolor</a>
							</div>
							<a class="portfolio-left" data-post="004" href="#"><span class="fa fa-angle-left"></span></a>
							<a class="portfolio-right" data-post="006" href="#"><span class="fa fa-angle-right"></span></a>
						</div>
					</div>
				</li>
				
				<li class="gallery-item animate fadeInUp" data-delay="1400">
					<div class="back-thumbnail">
						<a href="#" class="open-post" data-post="6"><img src="{% static 'landing/images/thumb6.png' %}" alt="" width="240"/></a>
						<div id="post-6" class="porfolio-post">
							<img class="portfolio-image" alt="#" src="http://placehold.it/600x400">
							<div class="portfolio-body"><h2>Diam voluptua</h2>
								<p>Nullam nec quam turpis. Ut at metus euismod, pretium magna sodales, adipiscing nibh. Mauris eu nibh ac urna blandit pulvinar. Nullam congue nisi sed mauris fermentum, eu hendrerit enim fermentum. Quisque sit amet elit gravida, euismod quam sed, pellentesque nunc.</p>
								<p>Mauris ac ante lacus. In aliquam nisl in turpis adipiscing, quis varius turpis semper.</p>
								<a target="_self" class="btn btn-warning" href="#">Ipsum dolor</a>
							</div>
							<a class="portfolio-left" data-post="005" href="#"><span class="fa fa-angle-left"></span></a>
							<a class="portfolio-right" data-post="001" href="#"><span class="fa fa-angle-right"></span></a>
						</div>
					</div>
				</li>
			</ul><!-- gallery grid end -->
			 <!-- Prev/next controls -->
            
		</div><!-- jcarousel end-->
		<a href="#" class="jcarousel-control-prev jcarousel-control"><i class="fa fa-angle-left"></i></a>
        <a href="#" class="jcarousel-control-next jcarousel-control"><i class="fa fa-angle-right"></i></a>
		</div><!-- jcarousel-wrapper end-->
		<div class="porfolio-content-wrapper">
			<a href="#" class="portfolio-close">X</a>
			<div id="porfolio-content"></div>
		</div>
	</div><!-- Portfolio section end -->
</div>
	
<!-- testimonial section -->
	<div class="">
		<div class="container centered">
			<div class="title-section" id="testimonial">
				<h2>TESTIMONIALS.</h2>
			</div>
			<div class="testimonials">
			
				
				
				<div id="testimonial-slider" class="slide">		  
					<div class="carousel-inner">			
						<div class="item active">
							<div class="testimonial">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at nunc urna. Pellentesque congue enim sit amet arcu volutpat, quis viverra."</div>
							<div class="author-testimonial">John Doe</div>
						</div>
						<div class="item">
							<div class="testimonial">"Proin at nunc urna. Pellentesque congue enim sitnunc urna.  sit amet arcu volutpat, quis viverra."</div>
							<div class="author-testimonial">Other User</div>
						</div>
					</div>
					<a class="left carousel-control" data-slide="prev" href="#testimonial-slider"><span class="fa fa-arrow-left"></span></a>
					<a class="right carousel-control" data-slide="next" href="#testimonial-slider"><span class="fa fa-arrow-right"></span></a>
				</div> <!-- testimonial slider end -->				
			</div>
		</div>	
	</div><!-- testimonial section end -->
	
<!--  subscribe section-->
<div class="inverse-section">
	<div class="container">
		<div class="title-section" id="subscribe">
			<h2>SUBSCRIBE</h2>
			<p class="lead animate fadeInUp">Learn more about your creative team and what we can provide you.</p>
		</div>
		
		<form action="#" class="subscribe-form animate fadeInUpBig">
			<div class="text-field">							
				<input type="text" name="subscribe-name" id="subscribe-name" value="" class="form-control">
				<span class="label">EMAIL ADDRESS</span>
			</div>
			<button id="subscribe-submit"><i class="fa fa-envelope-o"></i> JOIN NOW</button>
		</form>
		<br />
		<br />
	</div>
</div>
<!-- google map section -->
<div class="map-container">
	<iframe height="600" src="https://maps.google.com/maps?hl=en&amp;q=98015&amp;ie=UTF8&amp;hq=&amp;hnear=Bellevue,+Washington+98015&amp;t=m&amp;z=14&amp;ll=47.61,-122.19&amp;output=embed"></iframe>
</div>

<div class="inverse-section">
	<!-- contact section-->
	<div class="col-md-9 centered-box contact-inner">
		<div class="title-section" id="contact">
			<h2>CONTACTO</h2>
		</div>
		<br>
		<div class="contact-form-wrap">
			<form action="#" id="contact-form" method="post" name="contact-form">
				<fieldset>
					<ul class="group-1 animate fadeInLeft" data-appear-top-offset="-300">
						<li class="text-field">							
							<input type="text" name="name-form" id="name-form" value="" class="form-control">
							<span class="label">Nombre</span>
						</li>
						<li class="text-field">
							<input type="text" name="email-form" id="email-form" value="" class="form-control">
							<span class="label" style="display: block;">Email</span>
						</li>
						<li class="text-field">
							<input type="text" name="subject-form" id="subject-form" value="" class="form-control">
							<span class="label">Asunto</span>
						</li>
					</ul>
					<ul class="group-2 animate fadeInRight" data-appear-top-offset="-300">
						<li class="textarea-field">
							<textarea name="message-form" id="message-form" rows="8" class="form-control"></textarea>
							<span class="label">Escribe tu mensaje aquí..</span>
						</li>
						<li class="submit-button">
							<input type="submit" name="sendemail" id="sendemail" value="ENVIAR" class="sendmail btn">
						</li>
					</ul>
				</fieldset>
			</form>
			
				<div class="social-icons animate fadeInLeft">
					<a href="#"><i class="fa fa-facebook"></i></a>					
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-google-plus"></i></a>
		
			</div>
			<div id="message_post"></div>
		</div><!-- contact-form-wrap end -->
	</div><!-- contact-inner end -->
	
</div>


<div id="footer">
	
	<p class="copyright">Copyright &copy; Click'n'Bees 2014. Todos los derechos reservados</p>
</div>

<div id="preloadere">
<!-- <div class="logo-loading">
			<a href="#"><img src="{% static 'landing/images/logo.png' %}" alt=""/></a>
		</div> -->
		
</div>

<script type="text/javascript" src="{% static 'landing/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'landing/js/jquery.nicescroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'landing/js/jquery.jcarousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'landing/js/jcarousel.skeleton.js' %}"></script>
<script type="text/javascript" src="{% static 'landing/js/jquery.easing.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'landing/js/jquery.appear.js' %}"></script>
<script type="text/javascript" src="{% static 'landing/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'landing/js/scripts.js' %}"></script>

</body>
</html>