{% extends "remake/base.html" %}

{% load staticfiles %}
{% load url from future %}
{% load widget_tweaks %}

{% block content %}
	<div class="layout-app" style="margin-top: 1ex;">
		<div class="container">			
			<h2 style="text-align: center;">Registro de Empresa</h2>
			<div class="col-md-1"></div>
			<div class="col-md-10">			
				<br>
				<br>
				<hr>
				<form action="" method="post">
				{% csrf_token %}		
				{{form.errors}}								
					<div class="row">
						<div class="col-md-5">
							<h4>Nombre de tu empresa</h4> 
							{% render_field form.nombre %} <br><br>
							<h4>Logotipo</h4> 
							{% render_field form.logotipo %} <br><br>							
							<h4>Descripción</h4> 
							{% render_field form.descripcion %}	<br><br>
							<h4>Email</h4> 
							{% render_field form.email %} <br><br>
							<h4>Horarios</h4>
							{% render_field form.horarios %}
						</div>
						<div class="col-md-2"></div>
						<div class="col-md-5">
							<h4>Telefono</h4> 
							{% render_field form.telefono %} <br><br>
							<h4>Celular</h4> 						
							{{form.celular}} <br><br>						
							<h4>Dirección</h4> 
							{% render_field form.direccion %} <br><br>
							<div class="row">
								<div class="col-md-8">									
									<h4>Colonia </h4>{% render_field form.colonia %}
								</div>
								<div class="col-md-4">									
									<h4>C.P.</h4> {% render_field form.cp %}
								</div>
							</div>
							<br>
							<h4>Facebook</h4> 
							{% render_field form.facebook %} <br><br>
							<h4>Twitter</h4> 
							{% render_field form.twitter %} <br><br>
							<br>
							<button type="submit" class="btn btn-primary">Registrar Empresa</button>	
						</div> 
					</div>					
				</form>				
			</div>
		</div>
	</div>

{% endblock %}