{% extends "remake/base.html" %}

{% load staticfiles %}
{% load url from future %}
{% load widget_tweaks %}

{% block content %}
	<div class="container">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<h2>Edita tu perfil</h2>
			<form action="" method="post">{% csrf_token %}
			    {{ form.as_p }}
			    <input type="submit" value="Editar" />
			</form>
		</div>
	</div>
{% endblock %}