{% extends "remake/base.html" %}

{% block content %}
	<div class="layout-app">
		<div class="row row-app" style="margin-top: -ex;">
			<div class="col-separator col-unscrollable box col-separator-first">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					{% if user.is_authenticated %}
						<h2>Hola {{user.username}}</h2>
						<h3>Información de Usuario: </h3>
						<p>Nombre: {{user.first_name}}</p>
					{% if user.last_name %}
						<p>Apellido: {{user.last_name}}</p>
					{% endif %}
						<p>Email: {{user.email}}</p>
					{% else %}
						No has ingresado a tu cuenta. <br>
						<a href="/accounts/login">Login</a><br>
						No tienes cuenta?: 
						<a href="/accounts/login">Registrate</a>	
					{% endif %}	
					<br>
					<hr>
					{% if user.is_authenticated %}
						Editar tu cuenta: <a href="{% url 'editar_perfil' pk=user.id %}">Editar</a>
					{% endif %}
					<br>
					<hr>	
					{% if user.is_authenticated %}
						{% if user.empresa_set.first %}
							Editar empresa: <a href="{% url 'editar_empresa' pk=user.id %}">Edita tu Empresa</a>
						{% else %}
							Crear empresa: <a href="{% url 'crear_empresa' %}">Aquí</a>	<br>
						{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}